

script(src="js/plugins/jquery-3.4.1.min.js")
script(src="js/plugins/jquery.maskedinput.js")
script(src="js/plugins/jquery.magnific-popup.min.js")
script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
script(src="./js/index.js")


  


