

script(src="js/plugins/jquery-3.4.1.min.js")
script(src="js/plugins/jquery.maskedinput.js")
script(src="js/plugins/jquery.magnific-popup.min.js")
script(src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')
script(src="./js/index.js")
script(src='./js/json.js')
script(src='./js/my.js')
script(src='./js/map.js')


  


