.catalog_section__wrap {
  display: flex;
  gap: 25px;
  margin-bottom: 60px;

  @include tablet_991 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(30px);
  }

  @include mobile_768 {
    grid-template-columns: repeat(1, 1fr);
  }

  .catalog_section__item {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    width: 100%;
    max-width: 350px;
    height: 250px;
    padding: 20px 5px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet_991 {
      max-width: 100%;
    }
    @include mobile_768{
      height: 330px;
    }



    .section-item__title {
      text-align: center;
      margin-top: auto;
      font-family: $Gilroy-500;
      font-weight: 500;
      font-size: 24px;
      color: $color-white;

      @include desktop {
        font-size: 20px;
      }
      @include mobile_768 {
        font-size: 24px;
      }


    }
  }
}

.catalog-preview__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(100px);

  @include desktop {
    gap: rem(30px);
  }

  @include tablet_991 {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile_768{
    grid-template-columns: repeat(1, 1fr);
    gap: rem(15px);
  }

  .catalog-preview__item {
    border-radius: 6px;
    border: 1px solid $color-black;

    .catalog-preview__images {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 73.4%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .catalog-preview__desc {
      display: flex;
      flex-direction: column;
      padding: 20px 30px;

      .catalog-preview__title {
        font-family: $Gilroy-600;
        font-weight: 600;
        font-size: 24px;
        color: $color-blue;
        text-transform: uppercase;
        margin-bottom: 25px;
      }

      .catalog-preview__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        .catalog-property__item {
          .catalog-property__name {
            font-family: $Gilroy-600;
            font-weight: 600;
            font-size: 16px;
            color: $color-black;
            margin-right: 5px;
          }

          .catalog-property__value {
            font-family: $GilroyRegular;
            font-weight: 400;
            color: $color-black;
            font-size: 16px;
          }
        }
      }

      .catalog-preview__price {
        font-family: $Gilroy-600;
        font-weight: 600;
        font-size: 24px;
        color: $color-black;
        margin-bottom: 25px;
      }

      .btn {
        padding: 15px 60px;
        text-transform: capitalize;
      }
    }
  }
}
