/*--------------Каталог start-------------*/
.catalog_section__wrap {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet_991 {
    justify-content: center;
  }


  .catalog_section__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 345px;
    position: relative;

    .section-item__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .section-item__title {
      text-align: center;
      margin-top: auto;
      font-family: $Unbounded-700;
      font-weight: 700;
      font-size: 16px;
      color: $color-white;
      padding: 25px 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      background: rgba(21, 80, 139, 0.55);
      transform: translateX(-50%);

      @include desktop {
        font-size: 20px;
      }

      @include mobile_768 {
        font-size: 24px;
      }


    }
  }
}

.catalog-preview__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(100px);
  margin-bottom: 40px;

  @include desktop {
    gap: rem(30px);
  }

  @include tablet_991 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile_768 {
    grid-template-columns: repeat(1, 1fr);
    gap: rem(15px);
  }

  .catalog-preview__item {
    border-radius: 6px;
    border: 1px solid $color-black;

    .catalog-preview__images {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 73.4%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .catalog-preview__desc {
      display: flex;
      flex-direction: column;
      padding: 20px 30px;

      .catalog-preview__title {
        font-family: $Gilroy-600;
        font-weight: 600;
        font-size: 24px;
        color: $color-blue;
        text-transform: uppercase;
        margin-bottom: 25px;
      }

      .catalog-preview__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        .catalog-property__item {
          .catalog-property__name {
            font-family: $Gilroy-600;
            font-weight: 600;
            font-size: 16px;
            color: $color-black;
            margin-right: 5px;
          }

          .catalog-property__value {
            font-family: $GilroyRegular;
            font-weight: 400;
            color: $color-black;
            font-size: 16px;
          }
        }
      }

      .catalog-preview__price {
        font-family: $Gilroy-600;
        font-weight: 600;
        font-size: 24px;
        color: $color-black;
        margin-bottom: 25px;
      }

      .btn {
        padding: 15px 60px;
        text-transform: capitalize;
      }
    }
  }
}

/*--------------Каталог end-------------*/
