.history__wrap {
  @include flex-column;

  .history__list {
    .history-item {
      @include flex-column;
      padding: 0 20px 30px;
      border-left: 2px solid $color-blue;
      position: relative;

      &::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $color-blue;
        position: absolute;
        left: -7px;
        top: 0;
      }
      &:last-child{
        border-left: 2px solid transparent;
        padding-bottom: 0;
      }

      .history-item__title {
        font-family: $Gilroy-600;
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        color: $color-blue;
        margin-bottom: 26px;
        line-height: 0.7;

      }
    }

  }
}
