/*--------------Главная страница start-------------*/


.h2 {
  margin-bottom: 60px;

  @include tablet_991 {
    margin-bottom: 30px;
  }
}

.banner-main__wrap {
  margin-bottom: 60px;

  @include mobile_768 {
    margin-bottom: 40px;
  }

  .banner-slider__item {
    aspect-ratio: 3 / 1.2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile_768 {
      aspect-ratio: 4/3;
    }

  }

  .banner-slider .swiper-pagination-bullet {

    background: rgba(255, 255, 255, 0.5);
    width: rem(10px);
    height: rem(10px);
    opacity: 1;
  }

  .banner-slider .swiper-pagination-bullet:hover {
    background: rgb(21, 80, 139);
    ;
  }

  .banner-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transform: scale(1.1);
    background: rgb(21, 80, 139);
    ;
  }



}

.about-main__wrap {
  display: grid;
  grid-template-columns: 48% 49%;
  gap: 40px;
  justify-content: space-between;
  margin-bottom: 60px;

  @include tablet_991 {
    margin-bottom: 30px;
  }

  @include tablet_850 {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .about-main__text {
    width: 100%;

    .h1 {
      margin-bottom: 30px;
    }
  }

  .about-main__img {
    border-radius: 6px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: auto;

    @include tablet_850 {
      aspect-ratio: auto 8/5
    }

    @include mobile_450 {
      aspect-ratio: auto 1/1
    }

  }
}

.categories-main__wrap {
  margin-bottom: 60px;

  @include tablet_991 {
    margin-bottom: 30px;
  }

  .h2 {
    margin-bottom: 30px;
  }
}

.service-main__wrap {
  margin-bottom: 60px;

  @include tablet_991 {
    margin-bottom: 30px;
  }



  .service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40px);
    margin-bottom: 60px;

    @include tablet_991 {
      margin-bottom: 30px;
    }

    @include mobile_768 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile_576 {
      grid-template-columns: 1fr;
    }

    .service-item {
      @include flex-column;
      align-items: center;

      .service-item__img {
        max-height: 84px;
        height: 100%;
        margin-bottom: 25px;
      }

      .service-item__title {
        font-family: $Gilroy-600;
        font-weight: 600;
        font-size: 20px;
        color: $color-deep-black;
        text-align: center;

        @include mobile_576 {
          max-width: 270px;
        }
      }
    }
  }

  .service-desc__wrap {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: rem(20px);
    margin-bottom: 50px;

    @include tablet_991 {
      margin-bottom: 30px;
    }

    @include tablet_850 {
      grid-template-columns: 1fr;

    }

    .service-desc {
      p {
        color: $color-deep-black;
        margin-bottom: 40px;

        @include tablet_850 {
          margin-bottom: 20px;
        }
      }

      .service-desc__list {
        @include flex-column;

        .service-desc__item {
          display: flex;
          align-items: center;
          margin-bottom: 25px;


          .desc-item__img {
            max-height: 44px;
            height: 100%;
            margin-right: 15px;
          }

          .desc-item__text {
            color: $color-deep-black;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .service-desc__image {
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      aspect-ratio: auto;
      border-radius: 6px;

      @include tablet_850 {
        aspect-ratio: auto 8/5;
        margin-bottom: 20px;
      }

      @include mobile_450 {
        aspect-ratio: auto 1/1
      }
    }
  }

  .service-desc__image .mobil {
    display: none;

    @include tablet_850 {
      display: block;
    }
  }

  .service-desc__image.desc {
    @include tablet_850 {
      display: none;
    }
  }

}

.advantage-main__wrap {
  margin-bottom: 60px;


  .advantage-main__list {
    .advantage-main__item-top {
      display: grid;
      grid-template-columns: 1.5fr 2fr;
      gap: 1.25rem;
      margin-bottom: 50px;

      @include tablet_991 {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
      }



    }

    .advantage-main__img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      aspect-ratio: 1 / 1;
      border-radius: 6px;

      @include tablet_991 {
        aspect-ratio: 8/5;
      }

      @include mobile_576 {
        aspect-ratio: 1/1;
      }
    }

    .advantage-main__text {
      font-size: 24px;
      margin: auto;
      color: $color-deep-black;
    }

    .advantage-main__item-bottom {
      display: grid;
      grid-template-columns: 2fr 1.5fr;
      gap: 1.25rem;

      @include tablet_991 {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
      }

      .advantage-main__img {
        order: 2;

        @include tablet_991 {
          order: 1;
        }

      }

      .advantage-main__text {
        text-align: right;
        order: 1;

        @include tablet_991 {
          text-align: left;
          order: 2;
        }
      }
    }
  }
}

.warranty_periods__wrap {

  margin-bottom: 40px;

  .warranty_periods__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, max-content));

    justify-content: space-between;
    gap: 40px 10px;

    @include desktop_1051-1350 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include desktop_991-1050 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet_991 {
      grid-template-columns: repeat(auto-fit, minmax(360px, max-content));
    }

    @include mobile_768 {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 25px;
    }


    .warranty_periods__item {
      @include flex-column;
      margin-top: auto;

      @include tablet_991 {
        &:nth-child(3) {
          grid-column: span 2;
          justify-self: center;

          @include mobile_768 {
            grid-column: span 1;
          }
        }
      }

      .periods-item__title {
        font-family: $Inter-700;
        font-weight: 700;
        font-size: rem(32px);
        color: $color-deep-black;
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
        min-height: rem(78px);

        @include tablet_991 {
          font-size: 24px;
          margin-bottom: 25px;
          min-height: auto;
        }

      }

      .periods-item__image {
        position: relative;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 430px;
        aspect-ratio: 5 / 4;

        @include desktop_1051-1350 {
          width: 330px;
          align-self: center;
        }

        @include desktop_991-1050 {
          width: 300px;
        }

        @include tablet_991 {
          width: 360px;
        }

        @include mobile_390 {
          width: 300px;
        }

      }

      .number-top {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        color: #FFFFFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 15.3px;

        @include desktop_1051-1350 {
          top: 40%;
          gap: 12px;
        }

        @include desktop_991-1050 {
          gap: 10px;
        }

        @include tablet_991 {
          top: 39%;
          gap: 11px;
        }

        @include mobile_390 {
          gap: 8px;
        }

        span {
          display: block;
          font-family: $Inter-700;
          font-weight: 700;
          font-size: 20px;
          color: $color-white;

          @include desktop_1051-1350 {
            font-size: 16px;
          }

          @include desktop_991-1050 {
            font-size: 14px;
          }

          @include mobile_390 {
            font-size: 17px;
          }

        }
      }

      .number-bottom {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        display: flex;

        .txt-bottom {
          font-family: $Inter-700;
          font-weight: 700;
          font-size: rem(20px);
          color: $color-white;
          display: flex;
          align-items: self-end;
          line-height: 0.8;

          span:first-child {
            display: block;
            font-family: $Inter-700;
            font-weight: 700;
            font-size: rem(64px);
            color: $color-white;
            margin-right: 5px;

            @include desktop_1051-1350 {
              font-size: rem(40px);
            }

            @include tablet_991 {
              font-size: 30px;
            }
          }

          span:nth-child(2) {
            font-size: rem(40px);

            @include desktop_1051-1350 {
              font-size: rem(30px);
            }

            @include tablet_991 {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

.news_block-main__wrap {
  .news-preview__wrap {
    display: grid;
    grid-template-columns: repeat(3, rem(430px));
    gap: 10px;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 0;

    @include tablet_991 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile_576 {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px;
    }

    .news-preview__item {
      flex-direction: column;
      margin-bottom: 0;
      width: 100%;

      .news-preview__images {
        margin-right: 0;
        margin-bottom: 25px;
        aspect-ratio: 8/5;

        @include mobile_768 {
          aspect-ratio: 16/8;
        }

        img {
          max-width: 100%;
          width: 100%;
          aspect-ratio: auto;

          @include mobile_768 {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

      .news-preview__desc {
        .btn {
          justify-content: center;
          max-width: 100%;
        }

      }

    }
  }
}

/*--------------Главная страница end-------------*/
