.product__wrap {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;

  @include tablet_991 {
    flex-direction: column;
    align-items: center;
  }

  .product__image {
    margin-right: 30px;

    @include tablet_991 {
      margin-right: 0px;
      margin-bottom: 40px;
    }

    img {
      min-width: 430px;
      // width: 100%;
      max-width: 100%;
      height: auto;

      border-radius: 6px;
      aspect-ratio: 1/1;
      object-fit: cover;
      @include mobile_768 {
        min-width: auto;
      }
    }
  }


  .product__feature {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 580px;

    @include tablet_991 {
      max-width: 100%;
    }

    .h2 {
      margin-bottom: 20px;
    }


    .product-property__list {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      .product-property__item {
        display: flex;
        margin-bottom: 20px;

        .product-property__name {
          font-family: $GilroyRegular;
          font-weight: 400;
          text-transform: uppercase;
          color: $color-black;
          margin-right: 15px;
          white-space: nowrap;
        }

        .product-property__value {
          font-family: $GilroyRegular;
          font-weight: 400;
          text-transform: capitalize;
          color: $color-black;
          margin-left: auto;
          white-space: nowrap;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }


    }

    .product-order {
      display: flex;
      align-items: center;

      @include mobile_768 {
        flex-direction: column;
        align-items: flex-start;
      }

      p {
        margin-bottom: 0;
      }

      .btn-big {
        margin-right: rem(70px);
        text-transform: capitalize;

        @include desktop_small {
          margin-right: rem(30px);
        }

        @include mobile_768 {
          width: 100%;
          max-width: 100%;
          justify-content: center;
          margin-right: 0;
          margin-bottom: 40px;
        }
      }
    }
  }
}
