.service__wrap {
  .service__list-wrap .structure-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    .structure-item {
      position: relative;
      padding: 20px;
      width: 32%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      aspect-ratio: 16/9;

      @include desktop {
        width: 31%;
        aspect-ratio: 8 / 5;
      }

      @include tablet_991 {
        width: 48%;
      }

      @include mobile_768 {
        width: 100%;
        aspect-ratio: 8 / 4;
      }


      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        border-radius: 6px;
      }

      .structure-title {
        position: relative;
        z-index: 2;
        font-family: $Gilroy-500;
        font-weight: 500;
        font-size: 24px;
        color: $color-white;
        text-align: center;

        @include tablet_991 {
          font-size: 20px;
        }
      }
    }
  }
}
