/*--------------Техподдержка start-------------*/
.support__wrap {
  h2 {
    margin-bottom: 40px;
    color: $color-deep-black;
  }

  .support__list {
    .support__item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      @include mobile_768 {
        display: grid;
        grid-template-columns: 1fr 25px;
        justify-content: space-between;
        align-items: center;
      }

      a {
        text-underline-offset: 4px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: $color-blue;

        margin-right: 25px;

        @include mobile_576 {
          margin-right: 10px;
        }
      }
    }
  }
}

/*--------------Техподдержка end-------------*/
