.training-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .training-block__text {
    font-family: $GilroyRegular;
    font-size: 16px;
    color: $color-deep-black;
  }
}

.training-title {
  font-size: 16px;
  text-transform: uppercase;
  color: $color-deep-black;
  font-family: $Gilroy-600;
  margin-bottom: 40px;
}

.training-list {
  list-style: initial;
  padding-left: 25px;
  margin-bottom: 40px;

  .training-list__item {
    list-style: inherit;
  }

  .training-list__text {
    font-size: 16px;
    font-family: $GilroyRegular;
    color: $color-deep-black;

  }

}

.training-pic__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 60px;
  gap: 58px;

  @include desktop_small {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile_768 {
    grid-template-columns: 1fr;
  }

  .training-pic__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .training-pic__block-img {
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 3/2;
  }

  .training-pic__block-title {
    text-transform: uppercase;
    font-size: 16px;
    color: $color-deep-black;
    font-family: $Gilroy-600;
  }

  .training-pic__block-text {
    font-size: 16px;
    color: $color-deep-black;
    font-family: $GilroyRegular;
  }
}

.training-table__title {
  font-size: 16px;
  color: $color-deep-black;
  font-family: $GilroyRegular;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: left;

  @include tablet_991 {
    display: none;
  }
}

.training-table__title-link {
  font-size: 16px;
  color: $color-blue;
  font-family: $GilroyRegular;
  margin-bottom: 40px;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 4px;
  display: none;

  @include tablet_991 {
    display: flex;
    justify-content: space-between;
  }

  @include mobile_768 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}


.training-table__overlow {
  overflow-x: auto;
}

.training-table__wrap {
  border-radius: 6px;
  border: 2px solid $color-blue;
  margin-bottom: 40px;
  width: fit-content;
}



.table-overflow {
  @include tablet_991 {
    display: none;
  }

  overflow-x: auto;
}


.training-table {

  @include tablet_991 {
    display: none;
  }

  table {

    border-collapse: collapse;
    text-align: center;
    border-radius: 6px;
    table-layout: fixed;

  }


  th {
    border: 2px solid $color-blue;
    padding: 3px 5px;
    min-width: 55px;
    color: $color-deep-blue;
    font-size: 12px;
    font-family: $Inter-600;
    white-space: nowrap;
  }

  td {
    border: 2px solid $color-blue;
    padding: 5px 5px;
    min-width: 55px;
    color: $color-deep-blue;
    font-size: 12px;
    font-family: $Inter-400;
    height: 43px;
  }

  .th-regular {
    font-family: $Inter-400;
  }

  .td-vertical {
    padding: 10px 30px;
    text-align: center;
    font-family: $Inter-600;
    font-size: 12px;
  }

  .td-active {
    background-color: $color-green;
    color: $color-white;
    font-size: 14px;
    font-family: $Inter-700;
  }

}

.training-materials__title {
  font-size: 16px;
  color: $color-deep-black;
  font-family: $GilroyRegular;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 400;
}

.training-materials__block {
  display: grid;
  gap: 12px;
  margin-bottom: 40px;

  &.block-mobile {
    display: none;

    @include tablet_991 {
      display: grid;
    }
  }

  .training-materials__block-text {
    display: flex;
    gap: 24px;
    align-items: center;

    @include mobile_768 {
      display: grid;
      grid-template-columns: 1fr 40px;
    }
  }


  .training-materials__link {
    color: $color-blue;
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 4px;
    padding: 10px 0;
  }
}

.training-gallery__block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin-bottom: 40px;

  @include mobile_768 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile_450 {
    grid-template-columns: 1fr;
  }

  a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 3/2;
    border-radius: 6px;

  }
}

.training-education__wrap {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px 176px;

  @include mobile_768 {
    grid-template-columns: 1fr;
  }


  .trainin-education__block-form__input {
    border-radius: 6px;
    border: none;
    border: 1px solid $color-input;
    color: $color-input;
    font-size: 16px;
    font-family: $Gilroy-500;
    padding: 10px 14px 11px 14px;
  }

  .training-education__block-form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 27px;
  }

  .btn {
    text-transform: inherit;
  }

  .trainin-education__block-form__checkbox {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid $color-input;

  }

  .training-education__block-form__second {
    display: flex;
  }

  .trainin-education__block-form__text {
    font-size: 14px;
    color: $color-deep-black;
    font-family: $GilroyRegular;
    line-height: 16px;

  }

  .trainin-education__block-form__link {
    font-size: 14px;
    color: $color-blue;
    font-family: $GilroyRegular;
  }

  .training-education__block-contacts__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .training-education__block-contacts__address {
    font-size: 20px;
    color: $color-deep-black;
    font-family: $GilroyRegular;
  }

  .training-education__block-contacts__info__address-block {
    @include mobile_768 {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .training-education__block-contacts__info__address {
    font-size: 20px;
    color: $color-deep-black;
    font-family: $GilroyRegular;
  }

  .trainin-education__block-checkbox {
    display: flex;
    gap: 9px;
  }
}
