/*--------------Гарантийная политика start-------------*/
.warranty_policy__wrap{
  .service__list-wrap .warranty_policy__list-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
}
/*--------------Гарантийная политика end-------------*/
