@font-face {
  font-family: 'Gilroy-200';
  src: url('../fonts/Gilroy-UltraLight.eot');
  src: url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
    url('../fonts/Gilroy-UltraLight.woff') format('woff'),
    url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyItalic-600';
  src: url('../fonts/Gilroy-SemiBoldItalic.eot');
  src: url('../fonts/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-500';
  src: url('../fonts/Gilroy-Medium.eot');
  src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-600';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-900';
  src: url('../fonts/Gilroy-HeavyItalic.eot');
  src: url('../fonts/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-HeavyItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-HeavyItalic.woff') format('woff'),
    url('../fonts/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyItalic-200';
  src: url('../fonts/Gilroy-UltraLightItalic.eot');
  src: url('../fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-UltraLightItalic.woff') format('woff'),
    url('../fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-700';
  src: url('../fonts/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-100';
  src: url('../fonts/Gilroy-Thin.eot');
  src: url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Thin.woff2') format('woff2'),
    url('../fonts/Gilroy-Thin.woff') format('woff'),
    url('../fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-300';
  src: url('../fonts/Gilroy-Light.eot');
  src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyRegularItalic';
  src: url('../fonts/Gilroy-RegularItalic.eot');
  src: url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-RegularItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyExtraBoldItalic';
  src: url('../fonts/Gilroy-ExtraBoldItalic.eot');
  src: url('../fonts/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyMediumItalic-500';
  src: url('../fonts/Gilroy-MediumItalic.eot');
  src: url('../fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-MediumItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-MediumItalic.woff') format('woff'),
    url('../fonts/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyBlack-900';
  src: url('../fonts/Gilroy-Black.eot');
  src: url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Black.woff2') format('woff2'),
    url('../fonts/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyRegular';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyLight-300';
  src: url('../fonts/Gilroy-Light_1.eot');
  src: url('../fonts/Gilroy-Light_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light_1.woff2') format('woff2'),
    url('../fonts/Gilroy-Light_1.woff') format('woff'),
    url('../fonts/Gilroy-Light_1.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyThinItalic-100';
  src: url('../fonts/Gilroy-ThinItalic.eot');
  src: url('../fonts/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ThinItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-ThinItalic.woff') format('woff'),
    url('../fonts/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyLightItalic-300';
  src: url('../fonts/Gilroy-LightItalic.eot');
  src: url('../fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-LightItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-LightItalic.woff') format('woff'),
    url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyExtraBold';
  src: url('../fonts/Gilroy-ExtraBold_1.eot');
  src: url('../fonts/Gilroy-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold_1.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold_1.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold_1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyBoldItalic';
  src: url('../fonts/Gilroy-BoldItalic.eot');
  src: url('../fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-BoldItalic.woff') format('woff'),
    url('../fonts/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyHeavy-900';
  src: url('../fonts/Gilroy-Heavy.eot');
  src: url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
    url('../fonts/Gilroy-Heavy.woff') format('woff'),
    url('../fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyBlackItalic-900';
  src: url('../fonts/Gilroy-BlackItalic.eot');
  src: url('../fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-BlackItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-BlackItalic.woff') format('woff'),
    url('../fonts/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.eot');
  src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter-400';
  src: url('../fonts/Inter-Regular.eot');
  src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter-Regular.woff') format('woff'),
      url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter-SemiBold-600';
  src: url('../fonts/Inter-SemiBold.eot');
  src: url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Inter-SemiBold.woff2') format('woff2'),
      url('../fonts/Inter-SemiBold.woff') format('woff'),
      url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
