extends ../templates/template.pug
block variables


block content
  main.wrapper
    .container
      .error-wrap
        .error-title Ошибка 404
        .error-text Кажется что-то пошло не так! Страница, которую вы запрашиваете, не существует. Возможно она устарела, была удалена, или был введен неверный адрес в адресной строке.
        .error-btn 
          a(href="javascript:void(0);").btn Перейти на главную
     

