extends ../templates/template.pug


block content
  main.wrapper
    .container
      ul.breadcrumbs
        each name in ['Главная', 'О компании']
          li
            a(href="javascript:void(0);")= name
      h1.h1 О компании
      .about__wrap
        .about__desc
          p Sinotruk Group, также известная как China National Heavy Duty Truck Group Co., Ltd., является крупным китайским производителем грузовиков и тяжелой коммерческой техники. Компания специализируется на производстве грузовиков различных классов, полуприцепов, автобусов и другой специализированной техники.
          p Компания была основана в 1935 году. С момента своего создания Sinotruk прошла долгий путь развития и стала одним из крупнейших мировых производителей грузовиков и коммерческой техники.

          p Sinotruk производит широкий спектр грузовиков различных классов и моделей, включая тяжелые грузовики, средние грузовики, легкие грузовики, специализированные транспортные средства и полуприцепы. Они также производят автобусы и другую транспортную технику.

          p Sinotruk активно расширяет свое присутствие на международном рынке. Продукция компании экспортируется во многие страны и регионы по всему миру.
          p Как многие крупные производители транспортной техники, Sinotruk инвестирует в разработку новых технологий и инноваций в своих продуктах, включая разработку электрических и гибридных моделей грузовиков.

          p Компания имеет стратегические партнерства с другими крупными игроками в отрасли и сотрудничает с международными компаниями для совместной разработки и производства техники.
          p Sinotruk продолжает быть ключевым участником на мировом рынке грузовиков и коммерческой техники, и её продукция широко используется в различных отраслях, включая логистику, строительство, горнодобывающую промышленность и многое другое.
        .about__image(style="background-image:url('./img/about.jpg')")
        

