extends ../templates/template.pug


block content
  main.wrapper
    .container
      ul.breadcrumbs
          each name in ['Главная', 'Каталог']
            li
              a(href="javascript:void(0);")= name
      .catalog_section__wrap
        .catalog_section__wrap
          +section-item({
            img:'1_c.png',
            title:'Седельные тягачи',
          })
          +section-item({
            img:'2_c.png',
            title:'Самосвалы',
          })
          +section-item({
            img:'3_c.png',
            title:'Автобетоносмесители',
          })
          +section-item({
            img:'4_c.png',
            title:'Бортовые',
          })

      h1.h1 Вся техника
      .catalog-preview__wrap
        +catalog-preview-item
        +catalog-preview-item
        +catalog-preview-item
        +catalog-preview-item
        +catalog-preview-item
        +catalog-preview-item
