extends ../templates/template-catalog.pug


block content
  main.wrapper
    .container
      ul.breadcrumbs
          each name in ['Главная', 'Каталог']
            li
              a(href="javascript:void(0);")= name
      .catalog_section__wrap
        +section-item("Седельные тягачи")
        +section-item("Самосвалы")
        +section-item("Автобетоносмесители")
        +section-item("Фургоны рефрижераторы")
      h1.h1 Вся техника
      .catalog-preview__wrap
        +catalog-preview-item
        +catalog-preview-item
        +catalog-preview-item
        +catalog-preview-item
        +catalog-preview-item
        +catalog-preview-item
