extends ../templates/template.pug


block content
  main.wrapper
    .container
      ul.breadcrumbs
        each name in ['Главная', 'Дилеры']
          li
            a(href="javascript:void(0);")= name
      h1.h1 Дилеры
      .dealers__wrap
        .map__wrap
          .map__selection-list
            select#region-select(name='region')
              option(value) Выберите регион
            select#city-select(name='city')
              option(value) Выберите город
            .dealer__box
              a.btn_white Стать дилером
          #map.map
            // Карта центров
          h2.h2 Список дилерских центров
          .map__list
              .map__search
              .map__list-wrap
                #itemsList
                script.
                  window.onload = function() {
                  var items = document.getElementById('itemsList').children;
                  var hiddenItemsCount;
                  if(items.length > 9) {
                  for(var i=9; i<items.length; i++) {
                  items[i].style.display = 'none';
                  }
                  hiddenItemsCount = items.length - 9;
                  document.getElementById('showMore').style.display = 'block';
                  document.getElementById('showMore').innerText += ' (' + hiddenItemsCount + ')';
                  }
                  document.getElementById('showMore').addEventListener('click', function(e){
                  e.preventDefault();
                  hiddenItemsCount -= 9;
                  for(var i=0; i<items.length; i++){
                  if(items[i].style.display == 'none') {
                  for(var j=i; j<i+9 && j<items.length; j++){
                  items[j].style.display = 'block';
                  }
                  break;
                  }
                  }
                  if(hiddenItemsCount <= 0) {
                  this.style.display = 'none';
                  } else {
                  this.innerText = 'Показать еще (' + hiddenItemsCount + ')';
                  }
                  });
                  };
          .buttons__more
            a(href="javascript:void(0);")#showMore.btn Посмотреть еще
        //- template#row
        //-   li
        //-     span.city
        //-     span.adress



