extends ../templates/template-guarantee.pug


block content
  main.wrapper
    .container
      ul.breadcrumbs
        each name in ['Главная', 'Сервис', 'Гарантийная политика', 'Целые машины и запасные части']
          li
            a(href="javascript:void(0);")= name
      h1.h1 Целые машины
      .guarantee__wrap
        .guarantee__desc На стоительные машины (самосвалы, автобетоносмесители, полноприводные грузовики, лесовозы) полная гарантия на автомобиль составляет 12 месяцев, из них гарантия на силовую линию (двигатель, коробку передач, ведущий мост) продлена до 24 месяцев (пробег неограничен), на машины, используемые для магистральных перевозок (все модели, кроме стороительных автомобилей) полная гарантия на автомобиль составляет 24 месяца. месяцев. Гарантия на силовую линию (двигатель, сцепление, коробку передач и ведущий мост) продлена до 36 месяцев (пробег не ограничен), за исключением всех негарантийных деталей. На все гарантийные автомобили в системе распространяется продлённая гарантия и общероссийская совместная гарантия. Гарантийный срок конкретной модели запрашиваться в системе декларации заказе.
        .guarantee-preview__wrap
          .guarantee-preview__item
            .guarantee-preview__images
              img(src="./img/1.png", alt="")
            .guarantee-preview__title 2 года для комплектного транспортного средства
          .guarantee-preview__item
            .guarantee-preview__images
              img(src="./img/2.png", alt="")
            .guarantee-preview__title 1 год для всего автомобиля для инженерных машин
          .guarantee-preview__item
            .guarantee-preview__images
              img(src="./img/3.png", alt="")
            .guarantee-preview__title 2 года для силовой цепи
        h2.h2 Запасные части
        .guarantee-details__wrap 
          .guarantee-image__block
            .image-block 
              img(src="./img/4.png", alt="")
            .desc-block Ожидается, что политика гарантии на детали будет реализована 1 июля 2024 года. Гарантийный срок составляет: Ровно 6 месяцев с последней даты вывоза товаров со склада в России.
          .guarantee-details__desc Мы предоставляем вам комплексную гарантию на автомобиль и решения по совместному гарантийному обслуживанию, а также стремимся обеспечить вам беззаботное вождение. Здесь вы можете воспользоваться комплексным и многоуровневым гарантийным обслуживанием: будь то двигатель, шасси или электрическая система, мы с полной ответственностью обеспечим вам профессиональную защиту. В то же время мы также предоставляем совместные гарантийные услуги по всей стране.Независимо от того, где вы находитесь, вы можете наслаждаться одним и тем же высококачественным ремонтом и техническим обслуживанием, не беспокоясь. Мы обещаем предоставить самые профессиональные и внимательные услуги, чтобы поддерживать ваш автомобиль в наилучшем состоянии, сопровождать вас, чтобы вы наслаждались удовольствием от вождения, и сделать ваше путешествие более безопасным и плавным!

           

