extends ../templates/template-history.pug


block content
  main.wrapper
    .container
      ul.breadcrumbs
          each name in ['Главная', 'О компании', 'История']
            li
              a(href="javascript:void(0);")= name
      h1.h1 История
      .history__wrap
          .history__list
            .history-item
              .history-item__title 1960
              .history-item__val SINOTRUK произвела первый в Китае тяжелый грузовик, восьмитонный грузовик Yellow River JN150, положив конец истории, когда Китай не мог производить тяжелые грузовики.
            .history-item
              .history-item__title 1963
              .history-item__val Был успешно разработан самосвал Yellow River 350.
            .history-item
              .history-item__title 1978
              .history-item__val SINOTRUK собирала римские грузовики в режиме SKD. За более чем десять лет до 1991 года было произведено более 8000 римских автомобилей.
            .history-item
              .history-item__title 1983
              .history-item__val SINOTRUK представила технологию производства тяжелых транспортных средств Steyr из Австрии.
            .history-item
              .history-item__title 1985
              .history-item__val  Первый грузовик Steyr, произведенный в Китае, сошел с конвейера.
            .history-item
              .history-item__title 2002
              .history-item__val  В августе была построена крупнейшая в Китае база по производству осей HDT.В октябре на базе Steyr HDT был запущен Steyr King HDT, что стало новым прорывом в продукции Steyr.
            .history-item
              .history-item__title 2003
              .history-item__val  В июне SINOTRUK подписала контракт с Volvo на создание совместного предприятия по производству тяжелых грузовиков; В июле было создано совместное предприятие.
            .history-item
              .history-item__title 2004
              .history-item__val  В октябре с конвейера сошел тяжелый грузовик HOWO, что помогло отечественным технологиям производства тяжелых грузовиков подняться на новый уровень.В настоящее время HOWO truck стал крупнейшей моделью продаж под одним брендом в индустрии тяжелых грузовиков Китая.
            .history-item
              .history-item__title 2006
              .history-item__val  Введена в эксплуатацию линия по производству двигателей для тяжелых грузовиков SINOTRUK, которая занимает лидирующие позиции в мире.
            .history-item
              .history-item__title 2007
              .history-item__val  SINOTRUK зарегистрирована на главной бирже Гонконгской фондовой биржи в виде красных фишек в качестве SINOTRUK (Hong Kong) Limited, что знаменует начало выхода SINOTRUK на международный рынок капитала.
            .history-item
              .history-item__title 2008
              .history-item__val Выпущен HOWO A7.Он стоял на переднем крае технологий в Китае, оснащенный низкооборотным двигателем с высоким крутящим моментом, AMT, задней осью с малым передаточным отношением, кабиной с низким сопротивлением воздуха и легкой конструкцией.
            .history-item
              .history-item__title 2009
              .history-item__val  SINOTRUK подписала соглашение о стратегическом сотрудничестве с MAN с целью внедрения передовых технологий в кабине, двигателе, оси и шасси.
            .history-item
              .history-item__title 2010
              .history-item__val  SINOTRUK запустила продукцию для легких грузовиков, чтобы расширить ассортимент семейства.В 2020 году было продано более 170 000 легких грузовиков.
            .history-item
              .history-item__title 2012
              .history-item__val  SINOTRUK запустила серию двигателей MC, мощность которых варьируется от 140 до 560 л.с.Серия двигателей MC - это локализованные двигатели после внедрения технологии производства двигателей MAN.
            .history-item
              .history-item__title 2013
              .history-item__val  Был запущен совместный бренд SITRAK с MAN, который добился успеха на рынке.
            .history-item
              .history-item__title 2015
              .history-item__val  Единственный в Китае “Национальный исследовательский центр разработки и технологии HDT” был завершен, и SINOTRUK официально переместила свою штаб-квартиру в здание SINOTRUK Technology Building.
            .history-item
              .history-item__title 2016
              .history-item__val  Был запущен интеллектуальный грузовик SINOTRUK первого поколения, оснащенный передовыми системами помощи при вождении, такими как EBS, ESC, AEBS, ACC, LDWS и HAS.
            .history-item
              .history-item__title 2018
              .history-item__val  Первый в мире беспилотный электрический грузовик, произведенный компанией SINOTRUK, был запущен в опытную эксплуатацию в порту Тяньцзинь.HOWO-T5G, оснащенный системой позиционирования Beidou, лазерным радаром, радаром миллиметрового диапазона, камерой и другими устройствами, может проехать 120 км при полной загрузке и времени зарядки менее одного часа. <br>1 сентября 2018 года товарищ Тан Сюгуан вступил в должность секретаря парткома и председателя правления China Heavy-duty Truck Group Co., Ltd.С тех пор SINOTRUK вступила в новый этап развития.
            .history-item
              .history-item__title 2020
              .history-item__val  SINOTRUK запустила бренд HDT нового поколения Yellow River.Коэффициент ветроустойчивости модели, оснащенной прицепами с низким сопротивлением ветру (Cd), достигает 0,37, что на 30% ниже, чем у основных продуктов отрасли, намного опережая грузовики, продаваемые внутри страны и за рубежом.В то же время магистральный логистический тягач Yellow River оснащен интеллектуальным управлением 2-го уровня.Интерфейс беспилотной системы 3-го уровня зарезервирован, что может удовлетворить потребности расширения функций беспилотного вождения 3-го уровня в будущем.


