extends ../templates/template.pug


block content
  main.wrapper
    .container
      ul.breadcrumbs
          each name in ['Главная', 'О компании', 'История']
            li
              a(href="javascript:void(0);")= name
      h1.h1 История
      .history__wrap
        .swiper.history-swiper2(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
          .swiper-wrapper.history-swiper-wrapper
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/1930.jpg)')
                  p Основана компания <b>China National Heavy Duty Truck Group Co. Ltd.</b> или <b>SINOTRUK</b>, ранее известная как Цзинаньский автомобильный завод, которая является колыбелью китайской автомобильной промышленности.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/1960.jpg)')
                  p Выпущен первый в Китае автомобиль большой грузоподъемности – восьмитонный грузовик JN150 Yellow River. На заре становления КНР этот автомобиль внес значительный вклад в развитие национальной экономики и в строительство национальной обороны.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/1983.jpg)')
                  p Был успешно внедрен австрийский проект большегрузных грузовиков Steyr - первое китайское производство, интегрировавшее зарубежную технологию. <b>Steyr</b> в то время стал синонимом тяжелых грузовиков в КНР.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/1984.jpg)')
                  p SINOTRUK стал основным предприятием, на базе которого создана корпорация, включавшая в себя полный цикл производства автомобилей, двигателей, трансмиссии и запасных частей.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2000.jpg)')
                  p Создана группа SINOTRUK, состоящая из трех основных компаний, руководство которых подчинено провинции Шаньдун.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2001.jpg)')
                  p Официальное название корпорации «SINOTRUK» было получено после модернизации и реорганизации.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2003.jpg)')
                  p SINOTRUK и Volvo Group официально подписали контракт на проект совместного предприятия по производству автомобилей большой грузоподъемности.        
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2007.jpg)')
                  p SINOTRUK зарегистрировалась на основной площадке Фондового рынка Гонконга, сформировав платформу для глобального развития. 
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2009.jpg)')
                  p Компания установила стратегическое партнерство с немецкой «MAN», в результате чего компания «MAN» стала держателем 25%+1 акций в корпорации «Sinotruk» (Гонконг).
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2013.jpg)')
                  p Официально запущен бренд SITRAK как результат сотрудничества с немецкой компанией MAN.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2015.jpg)')
                  p Открыт крупнейший научно-технический центр, ставший единственным НИИ машиностроения в стране в области технологии машиностроения для тяжелых грузовиков. Самое высокое здание в восточном Цзинане.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2016.jpg)')
                  p Представлен автономный грузовик первого поколения.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2017.jpg)')
                  p Начал работу клуб Million Hero для владельцев грузовиков с пробегом более 1 000 000 км. Его первым участником стал водитель, чей трак прошел 1 500 000 км без капитального ремонта. <br> Выпущен 1 000 000 автомобилей HOWO -  международного бренда, экспортирующегося в более, чем 90 стран.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2019.jpg)')
                  p Объем продаж группы превысил 296 200 автомобилей.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2021.jpg)')
                  p Компания SINOTRUK запускает бренд легковых и легких коммерческих автомобилей VGV, в продаже на рынке Китая стартуют модели U70 и U75.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2022.jpg)')
                  p В линейке U-серии появляется пикап.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2023.jpg)')
                  p Подписано соглашение с компанией Motor-Place о запуске бренда VGV в России.
            .swiper-slide
                .swiper-slide__years-img(style='background-image:url(./img/2024.jpg)')
                  p Старт продаж в России.
          .swiper-button-next.history-btn-next
          .swiper-button-prev.history-btn-prev
        .swiper.history-swiper(thumbsslider='')
          .swiper-wrapper.years__text
            .swiper-slide
              .swiper-slide__years-text  1930
            .swiper-slide
              .swiper-slide__years-text  1960
            .swiper-slide
              .swiper-slide__years-text  1983
            .swiper-slide
              .swiper-slide__years-text  1984
            .swiper-slide
              .swiper-slide__years-text  2000
            .swiper-slide
              .swiper-slide__years-text  2001
            .swiper-slide
              .swiper-slide__years-text  2003
            .swiper-slide
              .swiper-slide__years-text  2007
            .swiper-slide
              .swiper-slide__years-text  2009
            .swiper-slide
              .swiper-slide__years-text  2013
            .swiper-slide
              .swiper-slide__years-text  2015
            .swiper-slide
              .swiper-slide__years-text  2016
            .swiper-slide
              .swiper-slide__years-text  2017
            .swiper-slide
              .swiper-slide__years-text  2019
            .swiper-slide
              .swiper-slide__years-text  2021
            .swiper-slide
              .swiper-slide__years-text  2022
            .swiper-slide
              .swiper-slide__years-text  2023
            .swiper-slide
              .swiper-slide__years-text  2024
