extends ../templates/template-index


block content
  .container.py-50
    .row.page-list.mt-4
      .col-md-7.mx-auto

        h2.mb-4.pb-10.border-bottom Список страниц
        ul.pl-0.mb-4
          li.mb-2
            a(href="main.html", style="") Главная
          li.mb-2
            a(href="catalog.html", style="") Каталог
          li.mb-2
            a(href="trucks_section.html", style="") Каталог (раздел)
          li.mb-2
            a(href="service_section_page.html", style="") Сервис (раздел)
          li.mb-2
            a(href="service_detail_page.html", style="") Сервис (детальная страница карточки)
          li.mb-2
            a(href="manuals.html", style="") Руководства
          li.mb-2
            a(href="about.html", style="") О нас
          li.mb-2
            a(href="news.html", style="") Новости
          li.mb-2
            a(href="news_detail_page.html", style="") Новости (детальная страница)
          li.mb-2
            a(href="dealer_page.html", style="") Стать дилером
          li.mb-2
            a(href="contacts.html", style="") Контакты
          li.mb-2
            a(href="history.html", style="") История
          li.mb-2
            a(href="support.html", style="") Техподдержка
          li.mb-2
            a(href="maintenance.html", style="") Техническое обслуживание
          li.mb-2
            a(href="guarantee.html", style="") Гарантия - Целые машины и запасные части
          li.mb-2
            a(href="404.html", style="") 404
          li.mb-2 
            a(href="training.html", style="") Академия SITRAK
          li.mb-2
            a(href="card_truck.html", style="") Каталог(детальная страница карточки)
          li.mb-2
            a(href="dealers.html", style="") Дилеры
          li.mb-2
            a(href="service.html", style="") Сервис
          li.mb-2
            a(href="warranty_policy.html", style="") Гарантийная политика    
          li.mb-2
            a(href="comvex2024.html", style="") comvex2024


