extends ../templates/template.pug


block content
  main.wrapper
    .banner-main__wrap
      .swiper.banner-slider
        .swiper-wrapper
          .swiper-slide
            .banner-slider__item(style="background-image:url('./img/b_main.jpg')")
              .text-container
                .banner-title Добро пожаловать в мир SITRAK
          .swiper-slide
            .banner-slider__item(style="background-image:url('./img/b_main2.jpg')")
          .swiper-slide
            .banner-slider__item(style="background-image:url('./img/b_main3.jpg')")
          .swiper-slide
            .banner-slider__item(style="background-image:url('./img/b_main4.jpg')")
          .swiper-slide
            .banner-slider__item(style="background-image:url('./img/b_main5.jpg')")
          .swiper-slide
            .banner-slider__item(style="background-image:url('./img/b_main6.jpg')")
        .swiper-pagination

    .container
      .about-main__wrap
          h1.h1 ГРУЗОВАЯ ТЕХНИКА SITRAK
          p SITRAK - это марка грузовой техники, которая разрабатывается и производится в сотрудничестве между китайской компанией
            | Sinotruk Group и немецкой маркой MAN Truck & Bus AG. Компания SITRAK создана с целью сочетания немецкого инжиниринга и
            | китайского производства для производства высококачественных грузовиков и коммерческой техники.
          p Кроме того, следует отметить, что сотрудничество между китайской Sinotruk Group и немецкой MAN Truck & Bus AG позволяет SITRAK объединить лучшие практики и технологии обеих компаний. Немецкое наследие в инжиниринге и технической экспертизе дополняется китайским опытом в производстве и масштабировании производства.
          p Благодаря этому симбиозу SITRAK предлагает не только технически продвинутые грузовики, но и учитывает местные и мировые требования к экологии, безопасности и эффективности транспортных средств.
        
      .categories-main__wrap
        h2.h2 Каталог
        .catalog_section__wrap
          +section-item({
            img:'1_c.png',
            title:'Седельные тягачи',
          })
          +section-item({
            img:'2_c.png',
            title:'Самосвалы',
          })
          +section-item({
            img:'3_c.png',
            title:'Автобетоносмесители',
          })
          +section-item({
            img:'4_c.png',
            title:'Бортовые',
          })

      .service-main__wrap
        h2.h2 Сервис
        .service-list 
          +service-main-item({
            img:'1_s.png',
            title:'Гарантийная политика',
          })
          +service-main-item({
            img:'2_s.png',
            title:'Техническая поддержка',
          })
          +service-main-item({
            img:'3_s.png',
            title:'Обучение',
          })
          +service-main-item({
            img:'4_s.png',
            title:'Техническое обслуживание и сертификация',
          })
          +service-main-item({
            img:'5_s.png',
            title:'Запчасти',
          })
          +service-main-item({
            img:'6_s.png',
            title:'Новости о политике по сервису',
          })
   
        .service-desc__wrap
          .service-bgi(style="background-image:url('./img/company1.jpg')")
            .text-container
              h2.h2 О нас
          .service-desc
            p Чтобы обеспечить эффективную и бесперебойную работу транспортных средств, компания Ситрак предоставляет клиентам необходимую подготовку к техническому обслуживанию и ремонту транспортных средств, а также сводит к минимуму время простоя, вызванное неисправностями транспортных средств. Мы стремимся создать для вас большую ценность и лучший опыт. Наша цель — удовлетворение потребностей клиентов.
            .service-desc__list
              .service-desc__item
                .desc-item__img
                  img(src="./img/1_p.svg", alt="")
                .desc-item__text Отличные СТО всегда готовы оказать услуги по техническому обслуживанию и ремонту вашего автомобиля;
              .service-desc__item
                .desc-item__img
                  img(src="./img/3_p.svg", alt="")
                .desc-item__text Превосходное качество и более длительный срок службы, оригинальные  запасные части, которые вы ожидаете. Вы можете приобрести и использовать их на всех наших сервисных станциях;
              .service-desc__item
                .desc-item__img
                  img(src="./img/2_p.svg", alt="")
                .desc-item__text Компания Ситрак создала в России учебную академию для постоянного повышения уровня технического обслуживания обслуживающего персонала и предоставления вам услуг самого высокого качества.
          
     


      .advantage-main__wrap
        h2.h2 ОСНОВНЫЕ ПРЕИМУЩЕСТВА ГРУЗОВИКОВ
        .advantage-main__list
          .advantage-main__item-top
              .advantage-main__img(style="background-image:url('./img/about_company.jpg')")
              .advantage-main__text Продукция SITRAK отличается высоким уровнем безопасности, надежности, интеллектуальности, адаптивности и экономичности, а также низкой совокупной стоимостью и более длительным межсервисным интервалом. Линейка HOWO T5G стала образцом безопасности, надежности и экономичности в своём классе. 
          .advantage-main__item-bottom
              .advantage-main__text Специально для российского рынка мы разработали комплектацию для холодных регионов, включающую предпусковой подогрев двигателя, подогрев фильтра глубокой очистки, мочевины, топливного бака, системы впуска. В комплектацию также входят специальная электропроводка, мосты, технические жидкости. Мы доработали теплоизоляцию кабины, автономный отопитель кабины, систему кондиционирования, благодаря чему водить будет комфортно даже при температуре -40°С.
              .advantage-main__img(style="background-image:url('./img/about_company.jpg')")
      .news_block-main__wrap
        h2.h2 Новости
        .news-preview__wrap
          +news-preview-item
          +news-preview-item
          +news-preview-item





