extends ../templates/template-news_detail_page.pug


block content
  main.wrapper
    .container
      ul.breadcrumbs
        each name in ['Главная', 'Новости', 'Руководство по эксплуатации автомобиля SITRAK C7H']
          li
            a(href="javascript:void(0);")= name
      h1.h1 Руководство по эксплуатации автомобиля SITRAK C7H
      .news-item__wrap
        .news-item__date 01.03.2024
        .news-item__title
          p В этом руководстве представлена информация об эксплуатации, плановом техническом обслуживании и техническом обслуживании автомобилей серии SITRAK -C7H, а также представлены соответствующие правила безопасности, которые необходимо соблюдать при использовании автомобиля. Технические параметры автомобилей этой серии приведены в таблице технических параметров автомобилей серии SITRAK-C7H. Инструкции по эксплуатации для узлов, переделок или дополнительных устройств, не производимых компанией Sinotruk, см. в документации, предоставленной соответствующими производителями. 
          p Внимательно прочитайте данный справочник, прежде чем вы впервые водите автомобиль. 
          p В связи с большим количеством моделей изображения автомобилей в данном справочнике не полностью соответствуют покупные вами модели, эти иллюстрации являются лишь представительными примерами. Компания оставляет за собой право изменять форму, конфигурацию и технические характеристики автомобиля в любое время. Поэтому мы не принимаем каких-либо претензий в отношении данных, легенд или текстовых описаний настоящего руководства. 
          p Конфигурация автомобиля подлежит заказу, и руководство по эксплуатации будет время от времени обновляться. 
          p Это руководство, обзорное руководство для водителя автомобиля серии SITRAK-C7H и таблица технических параметров автомобиля серии SITRAK-C7H являются частями автомобиля. Возьмите их с собой и держите наготове.
        .news-item__desc
          .news-item__text 
            h2 Табличка автомобиля
            p Табличка автомобиля Табличка автомобиля Табличка автомобиля (расположена на дверной раме со стороны пассажира ）（видна при открытой двери), на табличке указаны модель автомобиля, основные параметры качества и модель двигателя. VIN выгравирован на внешней стороне стенки правой продольной балки рамы по средней линии переднего моста и на табличке автомобиля. Пожалуйста, внимательно проверьте, VIN соответствует ли сертификату.
            p Табличка двигателя MC11/13, MT13 ① устанавливается на блоке цилиндров, расположенная на стороне впуска двигателя и задней части генератора. Информация, указанная в табличке двигателя: модель двигателя, номинальная мощность/обороты, заводской номер, номер заказа, стандарт выбросов, масса нетто и т. д.
          .news-item__img
            img(src="./img/auto_table.png", alt="")








