extends ../templates/template


block content
  main.wrapper
    .container
      ul.breadcrumbs
        each name in ['Главная', 'Сервис']
          li
            a(href="javascript:void(0);")= name
      h1.h1 Сервис
      .service__wrap
        .service-list 
                +service-main-item({
                  img:'1_s.png',
                  title:'Гарантийная политика',
                })
                +service-main-item({
                  img:'2_s.png',
                  title:'Техническая поддержка',
                })
                +service-main-item({
                  img:'3_s.png',
                  title:'Обучение',
                })
                +service-main-item({
                  img:'4_s.png',
                  title:'Техническое обслуживание и сертификация',
                })
                +service-main-item({
                  img:'5_s.png',
                  title:'Запчасти',
                })
                +service-main-item({
                  img:'6_s.png',
                  title:'Новости о политике по сервису',
                })
