extends ../templates/template-service_section_page


block content
  main.wrapper
    .container
      ul.breadcrumbs
        each name in ['Главная', 'Сервис', 'Запчасти']
          li
            a(href="javascript:void(0);")= name
      h1.h1 Запчасти
      .btn_block__wrapper
        a(href="javascript:void(0);").btn_white.btn_active Все
        a(href="javascript:void(0);").btn_white Шасси
        a(href="javascript:void(0);").btn_white Коробка передач
        a(href="javascript:void(0);").btn_white Двигатель
        a(href="javascript:void(0);").btn_white Кабина

      .service-preview__wrap
        +service-preview-item("Фара левая SITRUK C7H")
        +service-preview-item("Насос топливный ТНВД SITRUK")
        +service-preview-item("Турбокомпрессор (турбина) SITRUK")
        +service-preview-item("Диск сцепления SITRUK")
        +service-preview-item("Стартер SITRUK")
      include ../_components/pagination

