extends ../templates/template-training.pug


block content
  main.wrapper
    .container
      ul.breadcrumbs
        li
          a(href='#') Главная
        li
          a(href='#') Сервис
        li
          a(href="#") Обучение
      h1.h1 академия sitrak 
      .training-block
        p.training-block__text Академия призвана стать школой профессионалов для дилерских центров в обслуживании и ремонте грузовой техники SITRAK и HOWO. Тренинг-центр оснащен узлами, компонентами, агрегатами и тягачом SITRAK C7H для практических работ. Что полностью соответствует стандартам SINOTRUK.
        p.training-block__text Передают знания как российские специалисты, так и специалисты-представители завода SINOTRUK International. Одновременно тренинг-центр способен принимать до 36 слушателей в трех группах. Это наиболее оптимальные группы для качественного обучения и передачи опыта сотрудникам сервисных станций. А программа Академии предполагает как базовые курсы по обслуживанию техники SITRAK, так и углубленные курсы по диагностике и ремонту электрооборудования, коробок передач и двигателей, применяемых на грузовиках SITRAK и HOWO.
      h2.training-title зачем нужно обучение?
      ul.training-list
        li.training-list__item
          p.training-list__text Начнете использовать технику на максимум
        li.training-list__item  
          p.training-list__text Разберетесь в особенностях вашего автомобиля
        li.training-list__item 
          p.training-list__text Научитесь экономить топливо
        li.training-list__item 
          p.training-list__text Сможете первично диагностировать неисправности
        li.training-list__item 
          p.training-list__text Повысите производительность и безопасность
      h2.training-title преимущество обучения
      .training-pic__wrap
        .training-pic__block
          .training-pic__block-img(style="background-image: url(./img/Rectangle45.png)")
          .training-pic__block-title индивидуальное обучение
          .training-pic__block-text Скорректируем план обучения в зависимости от вашего запроса: какая у вас техника, какие задачи, вопросы и проблемы.
        .training-pic__block
          .training-pic__block-img(style="background-image: url(./img/Rectangle46.png)")
          .training-pic__block-title повешение рентабельности
          .training-pic__block-text Расскажем, как эксплуатировать автомобили правильно, уменьшать их износ и вероятность аварийных ситуаций — иными словами, экономить ваши деньги, время и нервы.
        .training-pic__block
          .training-pic__block-img(style="background-image: url(./img/Rectangle47.png)")
          .training-pic__block-title все аспекты эксплуатации
          .training-pic__block-text Разберем все, что нужно знать для эксплуатации: от устройства машины и отдельных систем до техники вождения и гарантии.   
      h2.training-title материалы
        .training-materials__block.block-mobile
          .training-materials__block-text
            a(href="javascript:void(0);" download).training-materials__link Расписание
            <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.106 15.3502C7.106 14.5902 6.578 14.1362 5.647 14.1362C5.267 14.1362 5.01 14.1732 4.875 14.2092V16.6502C5.035 16.6862 5.231 16.6992 5.5 16.6992C6.493 16.6992 7.106 16.1962 7.106 15.3502ZM12.872 14.1602C12.455 14.1602 12.185 14.1972 12.025 14.2342V19.6422C12.185 19.6792 12.442 19.6792 12.675 19.6792C14.367 19.6912 15.471 18.7592 15.471 16.7852C15.484 15.0682 14.478 14.1602 12.872 14.1602Z" fill="#FF2E2E" />
            <path d="M23.918 10.9832H23.24V7.71223C23.2394 7.69145 23.2374 7.67073 23.234 7.65023C23.2351 7.51867 23.1886 7.39116 23.103 7.29123L17.66 1.07523L17.656 1.07123C17.5869 0.996222 17.4988 0.941285 17.401 0.91223L17.371 0.90223C17.3295 0.891871 17.2868 0.8865 17.244 0.88623H3.867C3.256 0.88623 2.76 1.38323 2.76 1.99323V10.9832H2.082C1.208 10.9832 0.5 11.6912 0.5 12.5652V20.7932C0.5 21.6662 1.209 22.3752 2.082 22.3752H2.76V28.0082C2.76 28.6182 3.256 29.1152 3.867 29.1152H22.133C22.743 29.1152 23.24 28.6182 23.24 28.0082V22.3752H23.918C24.792 22.3752 25.5 21.6662 25.5 20.7932V12.5652C25.5 11.6912 24.791 10.9832 23.918 10.9832ZM3.867 1.99323H16.69V7.65723C16.69 7.96323 16.938 8.21023 17.244 8.21023H22.134V10.9832H3.867V1.99323ZM17.457 16.7232C17.457 18.3052 16.881 19.3972 16.082 20.0712C15.212 20.7942 13.888 21.1382 12.269 21.1382C11.3 21.1382 10.614 21.0762 10.147 21.0162V12.8972C10.834 12.7872 11.729 12.7262 12.674 12.7262C14.243 12.7262 15.261 13.0082 16.058 13.6092C16.917 14.2462 17.457 15.2642 17.457 16.7232ZM3.021 21.0532V12.8972C3.597 12.7992 4.407 12.7262 5.547 12.7262C6.7 12.7262 7.522 12.9472 8.073 13.3882C8.6 13.8052 8.955 14.4922 8.955 15.3012C8.955 16.1112 8.686 16.7972 8.195 17.2632C7.557 17.8642 6.613 18.1342 5.509 18.1342C5.264 18.1342 5.043 18.1222 4.872 18.0972V21.0532H3.021ZM22.133 27.7082H3.867V22.3752H22.133V27.7082ZM23.737 14.3202H20.56V16.2092H23.528V17.7302H20.56V21.0532H18.685V12.7872H23.737V14.3202Z" fill="#FF2E2E" />
            </svg>
        h2.training-table__title Расписание    
        .table-overflow
          .training-table__wrap
            .training-table
              table
                thead
                  tr
                    th(colspan="3") Тренинг-центр
                    th(colspan="14") 
                
                  tr
                    th(rowspan="4" colspan="2") ID
                    th(rowspan="4") Перечень запланированных курсов
                    th Год
                    th(colspan="13")  2024

                  tr
                    th Месяц
                    th(colspan="4") Апрель
                    th(colspan="5") Май
                    th(colspan="4") Июнь
                  tr
                    th Неделя
                    th 14
                    th 15
                    th 16
                    th 17
                    th 18
                    th 19
                    th 20
                    th 21
                    th 22
                    th 23
                    th 24
                    th 25
                    th 26
                  tr
                    th Дни/дата
                    th.th-regular 1-5
                    th.th-regular 8-12
                    th.th-regular 15-19
                    th.th-regular 22-26
                    th.th-regular 29-3
                    th.th-regular 6-10
                    th.th-regular 13-17
                    th.th-regular 20-24
                    th.th-regular 27-31
                    th.th-regular 3-7
                    th.th-regular 10-14
                    th.th-regular 17-21
                    th.th-regular 24-28  
                tbody
                  tr
                    td(rowspan="2").td-vertical Базовый модуль
                    td 210
                    td Основы конструкции и принципов технического обслуживания SITRAK C7H/C7H MAX
                    td 5
                    td
                    td.td-active MW
                    td
                    td
                    td
                    td
                    td
                    td.td-active MW
                    td
                    td.td-active MW
                    td
                    td.td-active MW
                    td
                  tr
                    td 250
                    td Электрические и электронные системы SITRAK C7H/C7H MAX
                    td 5
                    td.td-active MW
                    td
                    td
                    td
                    td
                    td
                    td
                    td.td-active MW
                    td
                    td
                    td
                    td.td-active MW
                    td  
                
                  tr
                    td(rowspan='4').td-vertical Уровень 3: C7H/C7H MAX Капитальный ремонт агрегатов силовой линий
                    td 310
                    td Капитальный ремонт двигателей МС11/МС13
                    td 5
                    td
                    td.td-active MW
                    td
                    td
                    td
                    td
                    td
                    td
                    td.td-active MW
                    td
                    td
                    td
                    td
                  tr
                    td 320
                    td Капитальный ремонт коробок передач ZF Traxon (+Intarder) & ZF Ecosplit 165
                    td 5
                    td 
                    td
                    td
                    td
                    td
                    td
                    td.td-active MW
                    td
                    td.td-active MW
                    td
                    td
                    td
                    td
                  tr 
                    td 325
                    td Капитальный ремонт коробок передач S-AMT & HW
                    td 4
                    td 
                    td
                    td
                    td.td-active MW
                    td
                    td
                    td
                    td
                    td
                    td.td-active MW
                    td
                    td
                    td
                  tr 
                    td 340
                    td Капитальный ремонт главных передач мостов MCY13/MCP16
                    td 3
                    td 
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td.td-active MW 
                  tr
                    td(rowspan='5').td-vertical Уровень 4: Электро-оборудование и электронная архитектура C7H/C7H Max
                    td 410
                    td Диагностика электрических электронных систем моделей C7H/C7H MAX
                    td 5
                    td
                    td
                    td
                    td
                    td
                    td
                    td.td-active MW
                    td
                    td
                    td
                    td
                    td
                    td   
                  tr
                    td 420
                    td Диагностика двигателей серии МС11/МС13
                    td 3
                    td 
                    td
                    td
                    td
                    td.td-active MW
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr 
                    td 440
                    td Диагностика коробок передач ZF Traxon (+Intarder) & ZF Ecosplit 165
                    td 2
                    td 
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td.td-active MW 
                    td
                    td 
                  tr 
                    td 445
                    td Диагностика коробок передач S-AMT & HW
                    td 2
                    td 
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td.td-active MW 
                    td
                    td
                  tr 
                    td 450
                    td Диагности и ремонт EBS&ECAS
                    td 2
                    td 
                    td
                    td
                    td
                    td.td-active MW
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td(rowspan='3').td-vertical Специальный уровень
                    td 810
                    td Диагностика и ремонт рулевого механизма с сервоусилителем
                    td 2
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr  
                    td 820
                    td Проверка и регулировка углов установки колёс
                    td 2
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr  
                    td 830
                    td Диагностика и ремонт систем отопления и кондиционирования кабины
                    td 4
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td                  

      h2.training-materials__title материалы для обучения
      .training-materials__block
        .training-materials__block-text
          a(href="javascript:void(0);" download).training-materials__link Учебное пособие по базовым знаниям в области  электротехники SINOTRUK - Уровень 2
          <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.106 15.3502C7.106 14.5902 6.578 14.1362 5.647 14.1362C5.267 14.1362 5.01 14.1732 4.875 14.2092V16.6502C5.035 16.6862 5.231 16.6992 5.5 16.6992C6.493 16.6992 7.106 16.1962 7.106 15.3502ZM12.872 14.1602C12.455 14.1602 12.185 14.1972 12.025 14.2342V19.6422C12.185 19.6792 12.442 19.6792 12.675 19.6792C14.367 19.6912 15.471 18.7592 15.471 16.7852C15.484 15.0682 14.478 14.1602 12.872 14.1602Z" fill="#FF2E2E" />
          <path d="M23.918 10.9832H23.24V7.71223C23.2394 7.69145 23.2374 7.67073 23.234 7.65023C23.2351 7.51867 23.1886 7.39116 23.103 7.29123L17.66 1.07523L17.656 1.07123C17.5869 0.996222 17.4988 0.941285 17.401 0.91223L17.371 0.90223C17.3295 0.891871 17.2868 0.8865 17.244 0.88623H3.867C3.256 0.88623 2.76 1.38323 2.76 1.99323V10.9832H2.082C1.208 10.9832 0.5 11.6912 0.5 12.5652V20.7932C0.5 21.6662 1.209 22.3752 2.082 22.3752H2.76V28.0082C2.76 28.6182 3.256 29.1152 3.867 29.1152H22.133C22.743 29.1152 23.24 28.6182 23.24 28.0082V22.3752H23.918C24.792 22.3752 25.5 21.6662 25.5 20.7932V12.5652C25.5 11.6912 24.791 10.9832 23.918 10.9832ZM3.867 1.99323H16.69V7.65723C16.69 7.96323 16.938 8.21023 17.244 8.21023H22.134V10.9832H3.867V1.99323ZM17.457 16.7232C17.457 18.3052 16.881 19.3972 16.082 20.0712C15.212 20.7942 13.888 21.1382 12.269 21.1382C11.3 21.1382 10.614 21.0762 10.147 21.0162V12.8972C10.834 12.7872 11.729 12.7262 12.674 12.7262C14.243 12.7262 15.261 13.0082 16.058 13.6092C16.917 14.2462 17.457 15.2642 17.457 16.7232ZM3.021 21.0532V12.8972C3.597 12.7992 4.407 12.7262 5.547 12.7262C6.7 12.7262 7.522 12.9472 8.073 13.3882C8.6 13.8052 8.955 14.4922 8.955 15.3012C8.955 16.1112 8.686 16.7972 8.195 17.2632C7.557 17.8642 6.613 18.1342 5.509 18.1342C5.264 18.1342 5.043 18.1222 4.872 18.0972V21.0532H3.021ZM22.133 27.7082H3.867V22.3752H22.133V27.7082ZM23.737 14.3202H20.56V16.2092H23.528V17.7302H20.56V21.0532H18.685V12.7872H23.737V14.3202Z" fill="#FF2E2E" />
          </svg>
        .training-materials__block-text
          a(href="javascript:void(0);" download).training-materials__link Обучение по электрической системе всей  машины C7H
          <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.106 15.3502C7.106 14.5902 6.578 14.1362 5.647 14.1362C5.267 14.1362 5.01 14.1732 4.875 14.2092V16.6502C5.035 16.6862 5.231 16.6992 5.5 16.6992C6.493 16.6992 7.106 16.1962 7.106 15.3502ZM12.872 14.1602C12.455 14.1602 12.185 14.1972 12.025 14.2342V19.6422C12.185 19.6792 12.442 19.6792 12.675 19.6792C14.367 19.6912 15.471 18.7592 15.471 16.7852C15.484 15.0682 14.478 14.1602 12.872 14.1602Z" fill="#FF2E2E" />
          <path d="M23.918 10.9832H23.24V7.71223C23.2394 7.69145 23.2374 7.67073 23.234 7.65023C23.2351 7.51867 23.1886 7.39116 23.103 7.29123L17.66 1.07523L17.656 1.07123C17.5869 0.996222 17.4988 0.941285 17.401 0.91223L17.371 0.90223C17.3295 0.891871 17.2868 0.8865 17.244 0.88623H3.867C3.256 0.88623 2.76 1.38323 2.76 1.99323V10.9832H2.082C1.208 10.9832 0.5 11.6912 0.5 12.5652V20.7932C0.5 21.6662 1.209 22.3752 2.082 22.3752H2.76V28.0082C2.76 28.6182 3.256 29.1152 3.867 29.1152H22.133C22.743 29.1152 23.24 28.6182 23.24 28.0082V22.3752H23.918C24.792 22.3752 25.5 21.6662 25.5 20.7932V12.5652C25.5 11.6912 24.791 10.9832 23.918 10.9832ZM3.867 1.99323H16.69V7.65723C16.69 7.96323 16.938 8.21023 17.244 8.21023H22.134V10.9832H3.867V1.99323ZM17.457 16.7232C17.457 18.3052 16.881 19.3972 16.082 20.0712C15.212 20.7942 13.888 21.1382 12.269 21.1382C11.3 21.1382 10.614 21.0762 10.147 21.0162V12.8972C10.834 12.7872 11.729 12.7262 12.674 12.7262C14.243 12.7262 15.261 13.0082 16.058 13.6092C16.917 14.2462 17.457 15.2642 17.457 16.7232ZM3.021 21.0532V12.8972C3.597 12.7992 4.407 12.7262 5.547 12.7262C6.7 12.7262 7.522 12.9472 8.073 13.3882C8.6 13.8052 8.955 14.4922 8.955 15.3012C8.955 16.1112 8.686 16.7972 8.195 17.2632C7.557 17.8642 6.613 18.1342 5.509 18.1342C5.264 18.1342 5.043 18.1222 4.872 18.0972V21.0532H3.021ZM22.133 27.7082H3.867V22.3752H22.133V27.7082ZM23.737 14.3202H20.56V16.2092H23.528V17.7302H20.56V21.0532H18.685V12.7872H23.737V14.3202Z" fill="#FF2E2E" />
          </svg>
        .training-materials__block-text
          a(href="javascript:void(0);" download).training-materials__link BOSCH Common Rail System Training
          <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.106 15.3502C7.106 14.5902 6.578 14.1362 5.647 14.1362C5.267 14.1362 5.01 14.1732 4.875 14.2092V16.6502C5.035 16.6862 5.231 16.6992 5.5 16.6992C6.493 16.6992 7.106 16.1962 7.106 15.3502ZM12.872 14.1602C12.455 14.1602 12.185 14.1972 12.025 14.2342V19.6422C12.185 19.6792 12.442 19.6792 12.675 19.6792C14.367 19.6912 15.471 18.7592 15.471 16.7852C15.484 15.0682 14.478 14.1602 12.872 14.1602Z" fill="#FF2E2E" />
          <path d="M23.918 10.9832H23.24V7.71223C23.2394 7.69145 23.2374 7.67073 23.234 7.65023C23.2351 7.51867 23.1886 7.39116 23.103 7.29123L17.66 1.07523L17.656 1.07123C17.5869 0.996222 17.4988 0.941285 17.401 0.91223L17.371 0.90223C17.3295 0.891871 17.2868 0.8865 17.244 0.88623H3.867C3.256 0.88623 2.76 1.38323 2.76 1.99323V10.9832H2.082C1.208 10.9832 0.5 11.6912 0.5 12.5652V20.7932C0.5 21.6662 1.209 22.3752 2.082 22.3752H2.76V28.0082C2.76 28.6182 3.256 29.1152 3.867 29.1152H22.133C22.743 29.1152 23.24 28.6182 23.24 28.0082V22.3752H23.918C24.792 22.3752 25.5 21.6662 25.5 20.7932V12.5652C25.5 11.6912 24.791 10.9832 23.918 10.9832ZM3.867 1.99323H16.69V7.65723C16.69 7.96323 16.938 8.21023 17.244 8.21023H22.134V10.9832H3.867V1.99323ZM17.457 16.7232C17.457 18.3052 16.881 19.3972 16.082 20.0712C15.212 20.7942 13.888 21.1382 12.269 21.1382C11.3 21.1382 10.614 21.0762 10.147 21.0162V12.8972C10.834 12.7872 11.729 12.7262 12.674 12.7262C14.243 12.7262 15.261 13.0082 16.058 13.6092C16.917 14.2462 17.457 15.2642 17.457 16.7232ZM3.021 21.0532V12.8972C3.597 12.7992 4.407 12.7262 5.547 12.7262C6.7 12.7262 7.522 12.9472 8.073 13.3882C8.6 13.8052 8.955 14.4922 8.955 15.3012C8.955 16.1112 8.686 16.7972 8.195 17.2632C7.557 17.8642 6.613 18.1342 5.509 18.1342C5.264 18.1342 5.043 18.1222 4.872 18.0972V21.0532H3.021ZM22.133 27.7082H3.867V22.3752H22.133V27.7082ZM23.737 14.3202H20.56V16.2092H23.528V17.7302H20.56V21.0532H18.685V12.7872H23.737V14.3202Z" fill="#FF2E2E" />
          </svg>
        .training-materials__block-text
          a(href="javascript:void(0);" download).training-materials__link Обучение системам EBS-LEVEL 2
          <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.106 15.3502C7.106 14.5902 6.578 14.1362 5.647 14.1362C5.267 14.1362 5.01 14.1732 4.875 14.2092V16.6502C5.035 16.6862 5.231 16.6992 5.5 16.6992C6.493 16.6992 7.106 16.1962 7.106 15.3502ZM12.872 14.1602C12.455 14.1602 12.185 14.1972 12.025 14.2342V19.6422C12.185 19.6792 12.442 19.6792 12.675 19.6792C14.367 19.6912 15.471 18.7592 15.471 16.7852C15.484 15.0682 14.478 14.1602 12.872 14.1602Z" fill="#FF2E2E" />
          <path d="M23.918 10.9832H23.24V7.71223C23.2394 7.69145 23.2374 7.67073 23.234 7.65023C23.2351 7.51867 23.1886 7.39116 23.103 7.29123L17.66 1.07523L17.656 1.07123C17.5869 0.996222 17.4988 0.941285 17.401 0.91223L17.371 0.90223C17.3295 0.891871 17.2868 0.8865 17.244 0.88623H3.867C3.256 0.88623 2.76 1.38323 2.76 1.99323V10.9832H2.082C1.208 10.9832 0.5 11.6912 0.5 12.5652V20.7932C0.5 21.6662 1.209 22.3752 2.082 22.3752H2.76V28.0082C2.76 28.6182 3.256 29.1152 3.867 29.1152H22.133C22.743 29.1152 23.24 28.6182 23.24 28.0082V22.3752H23.918C24.792 22.3752 25.5 21.6662 25.5 20.7932V12.5652C25.5 11.6912 24.791 10.9832 23.918 10.9832ZM3.867 1.99323H16.69V7.65723C16.69 7.96323 16.938 8.21023 17.244 8.21023H22.134V10.9832H3.867V1.99323ZM17.457 16.7232C17.457 18.3052 16.881 19.3972 16.082 20.0712C15.212 20.7942 13.888 21.1382 12.269 21.1382C11.3 21.1382 10.614 21.0762 10.147 21.0162V12.8972C10.834 12.7872 11.729 12.7262 12.674 12.7262C14.243 12.7262 15.261 13.0082 16.058 13.6092C16.917 14.2462 17.457 15.2642 17.457 16.7232ZM3.021 21.0532V12.8972C3.597 12.7992 4.407 12.7262 5.547 12.7262C6.7 12.7262 7.522 12.9472 8.073 13.3882C8.6 13.8052 8.955 14.4922 8.955 15.3012C8.955 16.1112 8.686 16.7972 8.195 17.2632C7.557 17.8642 6.613 18.1342 5.509 18.1342C5.264 18.1342 5.043 18.1222 4.872 18.0972V21.0532H3.021ZM22.133 27.7082H3.867V22.3752H22.133V27.7082ZM23.737 14.3202H20.56V16.2092H23.528V17.7302H20.56V21.0532H18.685V12.7872H23.737V14.3202Z" fill="#FF2E2E" />
          </svg>
        .training-materials__block-text
          a(href="javascript:void(0);" download).training-materials__link Курс обучения по работе с двигателем MC11/13
          <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.106 15.3502C7.106 14.5902 6.578 14.1362 5.647 14.1362C5.267 14.1362 5.01 14.1732 4.875 14.2092V16.6502C5.035 16.6862 5.231 16.6992 5.5 16.6992C6.493 16.6992 7.106 16.1962 7.106 15.3502ZM12.872 14.1602C12.455 14.1602 12.185 14.1972 12.025 14.2342V19.6422C12.185 19.6792 12.442 19.6792 12.675 19.6792C14.367 19.6912 15.471 18.7592 15.471 16.7852C15.484 15.0682 14.478 14.1602 12.872 14.1602Z" fill="#FF2E2E" />
          <path d="M23.918 10.9832H23.24V7.71223C23.2394 7.69145 23.2374 7.67073 23.234 7.65023C23.2351 7.51867 23.1886 7.39116 23.103 7.29123L17.66 1.07523L17.656 1.07123C17.5869 0.996222 17.4988 0.941285 17.401 0.91223L17.371 0.90223C17.3295 0.891871 17.2868 0.8865 17.244 0.88623H3.867C3.256 0.88623 2.76 1.38323 2.76 1.99323V10.9832H2.082C1.208 10.9832 0.5 11.6912 0.5 12.5652V20.7932C0.5 21.6662 1.209 22.3752 2.082 22.3752H2.76V28.0082C2.76 28.6182 3.256 29.1152 3.867 29.1152H22.133C22.743 29.1152 23.24 28.6182 23.24 28.0082V22.3752H23.918C24.792 22.3752 25.5 21.6662 25.5 20.7932V12.5652C25.5 11.6912 24.791 10.9832 23.918 10.9832ZM3.867 1.99323H16.69V7.65723C16.69 7.96323 16.938 8.21023 17.244 8.21023H22.134V10.9832H3.867V1.99323ZM17.457 16.7232C17.457 18.3052 16.881 19.3972 16.082 20.0712C15.212 20.7942 13.888 21.1382 12.269 21.1382C11.3 21.1382 10.614 21.0762 10.147 21.0162V12.8972C10.834 12.7872 11.729 12.7262 12.674 12.7262C14.243 12.7262 15.261 13.0082 16.058 13.6092C16.917 14.2462 17.457 15.2642 17.457 16.7232ZM3.021 21.0532V12.8972C3.597 12.7992 4.407 12.7262 5.547 12.7262C6.7 12.7262 7.522 12.9472 8.073 13.3882C8.6 13.8052 8.955 14.4922 8.955 15.3012C8.955 16.1112 8.686 16.7972 8.195 17.2632C7.557 17.8642 6.613 18.1342 5.509 18.1342C5.264 18.1342 5.043 18.1222 4.872 18.0972V21.0532H3.021ZM22.133 27.7082H3.867V22.3752H22.133V27.7082ZM23.737 14.3202H20.56V16.2092H23.528V17.7302H20.56V21.0532H18.685V12.7872H23.737V14.3202Z" fill="#FF2E2E" />
          </svg>
        .training-materials__block-text
          a(href="javascript:void(0);" download).training-materials__link S-AMT – Курс обучения по Роботизированной КПП (РКПП)
          <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.106 15.3502C7.106 14.5902 6.578 14.1362 5.647 14.1362C5.267 14.1362 5.01 14.1732 4.875 14.2092V16.6502C5.035 16.6862 5.231 16.6992 5.5 16.6992C6.493 16.6992 7.106 16.1962 7.106 15.3502ZM12.872 14.1602C12.455 14.1602 12.185 14.1972 12.025 14.2342V19.6422C12.185 19.6792 12.442 19.6792 12.675 19.6792C14.367 19.6912 15.471 18.7592 15.471 16.7852C15.484 15.0682 14.478 14.1602 12.872 14.1602Z" fill="#FF2E2E" />
          <path d="M23.918 10.9832H23.24V7.71223C23.2394 7.69145 23.2374 7.67073 23.234 7.65023C23.2351 7.51867 23.1886 7.39116 23.103 7.29123L17.66 1.07523L17.656 1.07123C17.5869 0.996222 17.4988 0.941285 17.401 0.91223L17.371 0.90223C17.3295 0.891871 17.2868 0.8865 17.244 0.88623H3.867C3.256 0.88623 2.76 1.38323 2.76 1.99323V10.9832H2.082C1.208 10.9832 0.5 11.6912 0.5 12.5652V20.7932C0.5 21.6662 1.209 22.3752 2.082 22.3752H2.76V28.0082C2.76 28.6182 3.256 29.1152 3.867 29.1152H22.133C22.743 29.1152 23.24 28.6182 23.24 28.0082V22.3752H23.918C24.792 22.3752 25.5 21.6662 25.5 20.7932V12.5652C25.5 11.6912 24.791 10.9832 23.918 10.9832ZM3.867 1.99323H16.69V7.65723C16.69 7.96323 16.938 8.21023 17.244 8.21023H22.134V10.9832H3.867V1.99323ZM17.457 16.7232C17.457 18.3052 16.881 19.3972 16.082 20.0712C15.212 20.7942 13.888 21.1382 12.269 21.1382C11.3 21.1382 10.614 21.0762 10.147 21.0162V12.8972C10.834 12.7872 11.729 12.7262 12.674 12.7262C14.243 12.7262 15.261 13.0082 16.058 13.6092C16.917 14.2462 17.457 15.2642 17.457 16.7232ZM3.021 21.0532V12.8972C3.597 12.7992 4.407 12.7262 5.547 12.7262C6.7 12.7262 7.522 12.9472 8.073 13.3882C8.6 13.8052 8.955 14.4922 8.955 15.3012C8.955 16.1112 8.686 16.7972 8.195 17.2632C7.557 17.8642 6.613 18.1342 5.509 18.1342C5.264 18.1342 5.043 18.1222 4.872 18.0972V21.0532H3.021ZM22.133 27.7082H3.867V22.3752H22.133V27.7082ZM23.737 14.3202H20.56V16.2092H23.528V17.7302H20.56V21.0532H18.685V12.7872H23.737V14.3202Z" fill="#FF2E2E" />
          </svg>
        .training-materials__block-text
          a(href="javascript:void(0);" download).training-materials__link Техническое обучение по переднему мосту  MAN
          <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.106 15.3502C7.106 14.5902 6.578 14.1362 5.647 14.1362C5.267 14.1362 5.01 14.1732 4.875 14.2092V16.6502C5.035 16.6862 5.231 16.6992 5.5 16.6992C6.493 16.6992 7.106 16.1962 7.106 15.3502ZM12.872 14.1602C12.455 14.1602 12.185 14.1972 12.025 14.2342V19.6422C12.185 19.6792 12.442 19.6792 12.675 19.6792C14.367 19.6912 15.471 18.7592 15.471 16.7852C15.484 15.0682 14.478 14.1602 12.872 14.1602Z" fill="#FF2E2E" />
          <path d="M23.918 10.9832H23.24V7.71223C23.2394 7.69145 23.2374 7.67073 23.234 7.65023C23.2351 7.51867 23.1886 7.39116 23.103 7.29123L17.66 1.07523L17.656 1.07123C17.5869 0.996222 17.4988 0.941285 17.401 0.91223L17.371 0.90223C17.3295 0.891871 17.2868 0.8865 17.244 0.88623H3.867C3.256 0.88623 2.76 1.38323 2.76 1.99323V10.9832H2.082C1.208 10.9832 0.5 11.6912 0.5 12.5652V20.7932C0.5 21.6662 1.209 22.3752 2.082 22.3752H2.76V28.0082C2.76 28.6182 3.256 29.1152 3.867 29.1152H22.133C22.743 29.1152 23.24 28.6182 23.24 28.0082V22.3752H23.918C24.792 22.3752 25.5 21.6662 25.5 20.7932V12.5652C25.5 11.6912 24.791 10.9832 23.918 10.9832ZM3.867 1.99323H16.69V7.65723C16.69 7.96323 16.938 8.21023 17.244 8.21023H22.134V10.9832H3.867V1.99323ZM17.457 16.7232C17.457 18.3052 16.881 19.3972 16.082 20.0712C15.212 20.7942 13.888 21.1382 12.269 21.1382C11.3 21.1382 10.614 21.0762 10.147 21.0162V12.8972C10.834 12.7872 11.729 12.7262 12.674 12.7262C14.243 12.7262 15.261 13.0082 16.058 13.6092C16.917 14.2462 17.457 15.2642 17.457 16.7232ZM3.021 21.0532V12.8972C3.597 12.7992 4.407 12.7262 5.547 12.7262C6.7 12.7262 7.522 12.9472 8.073 13.3882C8.6 13.8052 8.955 14.4922 8.955 15.3012C8.955 16.1112 8.686 16.7972 8.195 17.2632C7.557 17.8642 6.613 18.1342 5.509 18.1342C5.264 18.1342 5.043 18.1222 4.872 18.0972V21.0532H3.021ZM22.133 27.7082H3.867V22.3752H22.133V27.7082ZM23.737 14.3202H20.56V16.2092H23.528V17.7302H20.56V21.0532H18.685V12.7872H23.737V14.3202Z" fill="#FF2E2E" />
          </svg>
        .training-materials__block-text
          a(href="javascript:void(0);" download).training-materials__link Техническое обучение по переднему мосту  MAN
          <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.106 15.3502C7.106 14.5902 6.578 14.1362 5.647 14.1362C5.267 14.1362 5.01 14.1732 4.875 14.2092V16.6502C5.035 16.6862 5.231 16.6992 5.5 16.6992C6.493 16.6992 7.106 16.1962 7.106 15.3502ZM12.872 14.1602C12.455 14.1602 12.185 14.1972 12.025 14.2342V19.6422C12.185 19.6792 12.442 19.6792 12.675 19.6792C14.367 19.6912 15.471 18.7592 15.471 16.7852C15.484 15.0682 14.478 14.1602 12.872 14.1602Z" fill="#FF2E2E" />
          <path d="M23.918 10.9832H23.24V7.71223C23.2394 7.69145 23.2374 7.67073 23.234 7.65023C23.2351 7.51867 23.1886 7.39116 23.103 7.29123L17.66 1.07523L17.656 1.07123C17.5869 0.996222 17.4988 0.941285 17.401 0.91223L17.371 0.90223C17.3295 0.891871 17.2868 0.8865 17.244 0.88623H3.867C3.256 0.88623 2.76 1.38323 2.76 1.99323V10.9832H2.082C1.208 10.9832 0.5 11.6912 0.5 12.5652V20.7932C0.5 21.6662 1.209 22.3752 2.082 22.3752H2.76V28.0082C2.76 28.6182 3.256 29.1152 3.867 29.1152H22.133C22.743 29.1152 23.24 28.6182 23.24 28.0082V22.3752H23.918C24.792 22.3752 25.5 21.6662 25.5 20.7932V12.5652C25.5 11.6912 24.791 10.9832 23.918 10.9832ZM3.867 1.99323H16.69V7.65723C16.69 7.96323 16.938 8.21023 17.244 8.21023H22.134V10.9832H3.867V1.99323ZM17.457 16.7232C17.457 18.3052 16.881 19.3972 16.082 20.0712C15.212 20.7942 13.888 21.1382 12.269 21.1382C11.3 21.1382 10.614 21.0762 10.147 21.0162V12.8972C10.834 12.7872 11.729 12.7262 12.674 12.7262C14.243 12.7262 15.261 13.0082 16.058 13.6092C16.917 14.2462 17.457 15.2642 17.457 16.7232ZM3.021 21.0532V12.8972C3.597 12.7992 4.407 12.7262 5.547 12.7262C6.7 12.7262 7.522 12.9472 8.073 13.3882C8.6 13.8052 8.955 14.4922 8.955 15.3012C8.955 16.1112 8.686 16.7972 8.195 17.2632C7.557 17.8642 6.613 18.1342 5.509 18.1342C5.264 18.1342 5.043 18.1222 4.872 18.0972V21.0532H3.021ZM22.133 27.7082H3.867V22.3752H22.133V27.7082ZM23.737 14.3202H20.56V16.2092H23.528V17.7302H20.56V21.0532H18.685V12.7872H23.737V14.3202Z" fill="#FF2E2E" />
          </svg>
        .training-materials__block-text
          a(href=".javascript:void(0);" download).training-materials__link Обучение техническому обслуживанию C7H/C7H Max - Уровень 2
          <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.106 15.3502C7.106 14.5902 6.578 14.1362 5.647 14.1362C5.267 14.1362 5.01 14.1732 4.875 14.2092V16.6502C5.035 16.6862 5.231 16.6992 5.5 16.6992C6.493 16.6992 7.106 16.1962 7.106 15.3502ZM12.872 14.1602C12.455 14.1602 12.185 14.1972 12.025 14.2342V19.6422C12.185 19.6792 12.442 19.6792 12.675 19.6792C14.367 19.6912 15.471 18.7592 15.471 16.7852C15.484 15.0682 14.478 14.1602 12.872 14.1602Z" fill="#FF2E2E" />
          <path d="M23.918 10.9832H23.24V7.71223C23.2394 7.69145 23.2374 7.67073 23.234 7.65023C23.2351 7.51867 23.1886 7.39116 23.103 7.29123L17.66 1.07523L17.656 1.07123C17.5869 0.996222 17.4988 0.941285 17.401 0.91223L17.371 0.90223C17.3295 0.891871 17.2868 0.8865 17.244 0.88623H3.867C3.256 0.88623 2.76 1.38323 2.76 1.99323V10.9832H2.082C1.208 10.9832 0.5 11.6912 0.5 12.5652V20.7932C0.5 21.6662 1.209 22.3752 2.082 22.3752H2.76V28.0082C2.76 28.6182 3.256 29.1152 3.867 29.1152H22.133C22.743 29.1152 23.24 28.6182 23.24 28.0082V22.3752H23.918C24.792 22.3752 25.5 21.6662 25.5 20.7932V12.5652C25.5 11.6912 24.791 10.9832 23.918 10.9832ZM3.867 1.99323H16.69V7.65723C16.69 7.96323 16.938 8.21023 17.244 8.21023H22.134V10.9832H3.867V1.99323ZM17.457 16.7232C17.457 18.3052 16.881 19.3972 16.082 20.0712C15.212 20.7942 13.888 21.1382 12.269 21.1382C11.3 21.1382 10.614 21.0762 10.147 21.0162V12.8972C10.834 12.7872 11.729 12.7262 12.674 12.7262C14.243 12.7262 15.261 13.0082 16.058 13.6092C16.917 14.2462 17.457 15.2642 17.457 16.7232ZM3.021 21.0532V12.8972C3.597 12.7992 4.407 12.7262 5.547 12.7262C6.7 12.7262 7.522 12.9472 8.073 13.3882C8.6 13.8052 8.955 14.4922 8.955 15.3012C8.955 16.1112 8.686 16.7972 8.195 17.2632C7.557 17.8642 6.613 18.1342 5.509 18.1342C5.264 18.1342 5.043 18.1222 4.872 18.0972V21.0532H3.021ZM22.133 27.7082H3.867V22.3752H22.133V27.7082ZM23.737 14.3202H20.56V16.2092H23.528V17.7302H20.56V21.0532H18.685V12.7872H23.737V14.3202Z" fill="#FF2E2E" />
          </svg>                
      h2.training-title галерея
      .popup-gallery   
        .training-gallery__block
          a(href="./img/Rectangle1.png" style="background-image: url(./img/Rectangle1.png)")
          a(href="./img/car1.png" style="background-image: url(./img/Rectangle2.png)")
          a(href="./img/Rectangle3.png" style="background-image: url(./img/Rectangle3.png)")
          a(href="./img/Rectangle4.png" style="background-image: url(./img/Rectangle4.png)")
          a(href="./img/Rectangle5.png" style="background-image: url(./img/Rectangle5.png)")
          a(href="./img/Rectangle6.png" style="background-image: url(./img/Rectangle6.png)")
          a(href="./img/Rectangle7.png" style="background-image: url(./img/Rectangle7.png)")
          a(href="./img/Rectangle8.png" style="background-image: url(./img/Rectangle8.png)")
          a(href="./img/Rectangle9.png" style="background-image: url(./img/Rectangle9.png)")
          a(href="./img/Rectangle10.png" style="background-image: url(./img/Rectangle10.png)")
      .training-education 
        .training-education__wrap 
          .training-education__block    
            h2.training-title пройти обучение  
            form(action="" method="get").training-education__block-form 
              input(type="text" placeholder="ФИО").trainin-education__block-form__input
              input(type="tel" placeholder="Ваш телефон").trainin-education__block-form__input
              input(type="email" placeholder="Ваш email").trainin-education__block-form__input
              button.btn Записаться на обучение
              .trainin-education__block-checkbox
                input(type="checkbox").trainin-education__block-form__checkbox
                .trainin-education__block-form__text Оставляя свои данные на этом сайте, вы принимаете 
                  a(href="javascript:void(0)").trainin-education__block-form__link Соглашение об использовании персональных данных
          .training-education__block-contacts
            h2.training-title контакты 
            .training-education__block-contacts__info
              .training-education__block-contacts__info__address  Московская область, г. Химки, ул. Ленинградская, 39, стр. 4
              .training-education__block-contacts__info__address-block
                a(href="tel:javascript:void(0);").training-education__block-contacts__address  8-924-554-43-49、
                a(href="tel:javascript:void(0);").training-education__block-contacts__address 8-924-010-59-71
              a(href="mailto:javascript:void(0);").training-education__block-contacts__address  info@academysitrak.ru
