@media (min-width: 991px) {

  // .container {
  //   max-width: rem(1384px)
  // }
  .row {
    margin-right: rem(-12px);
    margin-left: rem(-12px);
  }

  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding-right: rem(12px);
    padding-left: rem(12px);
  }
}

@media (min-width: 768px) {
  // .container {
  //   max-width: 100%;
  // }
}

@media (min-width: 576px) {
  // .container {
  //   max-width: 100%;
  // }
}


.h1 {
  font-family: $Gilroy-600;
  font-size: 24px;
  text-transform: uppercase;
  color: $color-black;
  margin-bottom: 40px;


}

h2,
.h2 {
  font-family: $Gilroy-600;
  font-size: 24px;
  text-transform: uppercase;
  color: $color-black;

  @include tablet_991 {
    font-size: 20px;
  }
}

.wrapper {
  padding-bottom: 60px;
  padding-top: var(--js-header-height);

}



.container {
  // max-width: rem(1450px);
  // margin: 0 auto;
  // padding-right: 20px;
  // padding-left: 20px;
  max-width: rem(1490px);
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

}



p {
  line-height: rem(24px);
  margin-bottom: 20px;

  @include tablet_991 {
    margin-bottom: 15px;
  }

  @include mobile_768 {
    margin-bottom: 10px;
  }
}

.input__wrap {
  margin-bottom: 25px;
  @include mobile_768 {
    margin-bottom: 40px;
  }
 

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px 14px;
    font-family: $Gilroy-500;
    font-size: 1rem;
    font-weight: 500;
    color: $color-black;
    background-color: $color-white;
    background-clip: padding-box;
    border: 1px solid $color-input;
    border-radius: 6px;

    &::placeholder {
      font-family: $Gilroy-500;
      font-size: 1rem;
      font-weight: 500;
      color: $color-input;
    }
  }

  textarea {
    min-height: rem(120px);
    resize: vertical;
  }
}





@import "elements/icons";
@import "elements/buttons";
