/*--------------breadcrumbs start-------------*/
.breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: rem(60px);
  margin-bottom: rem(40px);

  @include mobile_768 {
    margin-top: rem(15px);
    margin-bottom: rem(30px);
    flex-wrap: wrap;
  }
}

.breadcrumbs li a {
  font-family: $GilroyRegular;
  font-size: 14px;
  color: $color-black;
}

.breadcrumbs li:not(:last-child):after {
  content: "/";
  margin: 0 5px 0 5px;
}
/*--------------breadcrumbs end-------------*/
