/*--------------footer start-------------*/
.footer-wrap {
  padding: 60px 0;
  background: $color-blue;
  min-height: rem(305px);
  color: $color-white;

  @include mobile_768 {
    padding-top: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include mobile_768 {
      flex-direction: column;
    }
  }
}

.footer__left {
  display: flex;
  margin-right: 20px;

  .logo-mob {
    display: none;

    @include mobile_768 {
      display: block;
      margin-bottom: 60px;

    }
  }

  @include mobile_768 {
    flex-direction: column-reverse;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    margin-right: 240px;

    @include tablet_850 {
      margin-right: 50px;
    }

    .footer-logo {
      margin-bottom: 25px;

      &.logo-desc {
        @include mobile_768 {
          display: none;
        }
      }
    }

    p {
      font-family: $Gilroy-600;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .notice {
      margin-top: auto;
      @include mobile_768 {
        margin-top: 30px;
      }

      .copy {
        font-family: $Gilroy-300;
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 15px;
      }

      .privacy {
        font-family: $GilroyRegular;
        font-weight: 400;
        font-size: 12px;
        color: $color-white;
        text-decoration: underline;
      }
    }

  }

  .footer-menu {
    @include mobile_768 {
      margin-bottom: 60px;
    }
  }

  .footer__contacts {
    display: none;

    @include mobile_768 {
      display: block;
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;

      a {
        font-family: $Gilroy-600;
        font-weight: 600;
        font-size: 14px;
        color: $color-white;
        margin-bottom: 15px;
        align-self: flex-end;

        @include mobile_768 {
          align-self: flex-start;
        }
      }

      span {
        font-family: $GilroyRegular;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }


  .footer-menu__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .footer-menu__link {
    color: $color-white;
    font-family: $Gilroy-600;
    font-weight: 600;
  }

}

.footer__right {
  display: flex;
  flex-direction: column;

  .footer__right-top {
    display: flex;
    flex-direction: column;


    &.footer-desk {
      @include mobile_768 {
        display: none;
      }

    }

    a {
      font-family: $Gilroy-600;
      font-weight: 600;
      font-size: 14px;
      color: $color-white;
      margin-bottom: 15px;
      align-self: flex-end;

    }

    span {
      font-family: $GilroyRegular;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .footer__right-bottom {
    margin-top: auto;
    align-self: flex-end;



    @include mobile_768 {
      align-self: flex-start;
      margin-top: 30px;
    }

    p {
      font-family: $Gilroy-600;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .footer-social {
      display: flex;
      justify-content: flex-end;
      gap: 15px;


      @include mobile_768 {
        justify-content: flex-start;
      }
    }
  }
}


/*--------------footer end-------------*/
