/*--------------header start-------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.header-top {
  background: $color-white;

  @include tablet_991 {
    display: none;
  }
}

.header-bottom {
  background: $color-blue;
}

.header-top .container,
.header-bottom .container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.header-top_left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-top_left span {
  font-family: $Inter-400;
  font-weight: 400;
  font-size: 14px;
  color: $color-black;
  transition: .4s ease-in-out;
  opacity: 0.5;
}

.header-top_left span:hover {
  opacity: 1;
}

.header-top_right {
  margin-left: auto;
  display: flex;
  align-items: center;

  span {
    font-family: $GilroyRegular;
    font-weight: 400;
    font-size: 14px;
    color: #595959;
    margin-right: 24px;
  }

  a {
    font-family: $Gilroy-600;
    font-weight: 600;
    font-size: 16px;
    color: #595959;
    margin-right: 24px;
    margin-left: 24px;
  }

  .header-social {
    display: flex;
    gap: 15px;

    a {
      margin: 0;
    }
  }
}

.header-bottom .container {
  justify-content: space-between;
  align-items: center;

  .btn-hdr {
    @include tablet_991 {
      display: none;
    }
  }

}

.header-nav {
  @include tablet_991 {
    display: none;
  }
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  .header-nav__submenu {
    position: absolute;
    top: 47px;
    left: -100%;
    width: 100%;
    z-index: 10;
    transition: .4s ease-in-out;

    background: $color-blue;
    width: max-content;
    padding: 10px;

    li {
      max-width: 200px;
    }
  }
}


.header-nav__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  margin-right: 50px;
}

.header-nav__item:last-child {
  margin-right: 0px;
}

.header-nav__item a {
  font-family: $Gilroy-600;
  font-weight: 600;
  color: $color-white;
}


.header-nav .header-nav__submenu {
  transform: scaleY(0);
  transform-origin: 0 0;
}

.header-nav__submenu-item:not(:last-child) {
  margin-bottom: 10px;
}

.submenu-item__sub {
  margin-top: 10px;

  li {
    font-family: $Gilroy-500;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.header-nav__submenu-item {
  position: relative;

  @include tablet_991 {
    display: none;
  }

  .submenu-item__sub-right {
    position: absolute;
    background: $color-blue;
    top: 0;
    left: 105%;
    z-index: 10;
    transition: .4s ease-in-out;
    width: 0;
    opacity: 0;
    visibility: hidden;
    padding: 10px 20px 10px;

    &.click {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 300px;
      opacity: 1;
      visibility: visible;
    }

    li {
      max-width: max-content;
    }
  }

}

.header-nav__submenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}

.menu-mob {
  display: none;

  @include tablet_991 {
    display: none;
  }
}

/*--------------мобильное меню start-------------*/
.menu-humb {
  display: none;

  @include tablet_991 {
    display: block;
    width: 30px;
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

    .icon-humb {
      width: 30px;
      height: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .icon-humb__line {
        background: $color-white;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        transition: -webkit-transform 0.2s ease-in-out;
        -o-transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;

        &:first-child {
          transform-origin: 25% 0%;
          transition: -webkit-transform 0.4s ease-in-out;
          -o-transition: transform 0.4s ease-in-out;
          transition: transform 0.4s ease-in-out;
          transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
        }

        &:last-child {
          transform-origin: 0% 0%;
          transition: -webkit-transform 0.4s ease-in-out;
          -o-transition: transform 0.4s ease-in-out;
          transition: transform 0.4s ease-in-out;
          transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
        }
      }

    }

    &.active .icon-humb__line {
      transform: scale(0);
    }

    &.active .icon-humb__line:first-child {
      transform: rotate(45deg);
      width: 30px;
    }

    &.active .icon-humb__line:last-child {
      transform: rotate(-45deg);
      width: 30px;
    }

  }
}

@include tablet_991 {
  .menu-mob.active {
    z-index: 80;
    right: 0;
  }

  .menu-mob {
    display: block;
    background: $color-blue;
    position: fixed;
    top: 74px;
    right: -1000px;
    overflow-y: auto;
    width: 100%;
    transition: .4s;
    height: 100vh;
  }

  .menu-mob.active {
    z-index: 80;
    right: 0;
  }

  .menu-mob__inner {
    padding: 20px;

    .menu-mob__nav {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .menu-mob__list {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .menu-mob__item {
          a {
            color: $color-white;
            font-family: $Gilroy-600;
            font-weight: 600;
            font-size: 16px;

          }

          .menu-mob__submenu {
            margin-top: 20px;
            display: none;

            .menu-mob__submenu-item {
              margin-bottom: 10px;

              a {
                font-family: $Gilroy-500;
                font-weight: 500;
                font-size: 16px;
              }

              .submenu-item__sub {
                a {
                  font-family: $GilroyRegular;
                  font-weight: 400;
                  font-size: 16px;
                }
              }
            }
          }

        }
      }

      .btn-hdr {
        display: block;
      }
    }

    .menu-mob__contacts-top {
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: 250px;
      font-family: $Inter-400;
      font-weight: 400;
      font-size: 14px;
      color: $color-white;
      opacity: 0.55;
    }

    .menu-mob__contacts-bottom {
      display: flex;
      flex-direction: column;
      gap: 25px;
      color: $color-white;

      a {
        font-family: $Gilroy-600;
        font-weight: 600;
        font-size: 16px;
        color: inherit;
      }
    }

    .menu-mob__social {
      display: flex;
      gap: 15px;
    }
  }
}
/*--------------мобильное меню end-------------*/
/*--------------header end-------------*/
