footer.footer-wrap
  .container
    .footer
      ul.footer-list
        each val in ['Ассортимент','Попробуй пойми!','Узнай больше','Обратная связь','Где купить?','Контакты']
          li.footer-list__item
            a(href="javascript:void(0);").footer-list__link !{val}
      .footer-img
      // animation
      #CatFooter.cat-footer
      
      .footer-block__info
        a(href="javascript:void(0);").politic Политика конфиденциальности
        .copy Создание сайта — nopreset
        

