#modal-quest.modal.fade.modal-open(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .h3.modal-title.text-center Вопрос специалисту
        .upload-wrap
          form
            .form-input-wrap.input-error
              input#name.form__input(type='text' autocomplete='off' placeholder=' ')
              label.form__label(for='name') Ваше имя<span>*</span>
              .error-message Заполните поле
            .form-input-wrap.input-error
              input#phone.form__input.input-phone(type='text' autocomplete='off' placeholder=' ')
              label.form__label(for='phone') Телефон<span>*</span>
              .error-message Заполните поле
            .form-input-wrap.form-input-wrap_select.input-error
              select.select-theme(name='theme')
                option(value='') Тема обращения
                option(value='') Тема 1
                option(value='') Тема 1
                option(value='') Тема 1
                option(value='') Тема 1
                option(value='') Тема 1
                option(value='') Тема 1
                option(value='') Тема 1
                option(value='') Тема 1
                option(value='') Тема 1
              .error-message Заполните поле
            .form-input-wrap.form-input-wrap_textarea.input-error
              textarea#text.form__input(autocomplete='off' placeholder=' ')
              label.form__label(for='text') Вопрос / комментарий<span>*</span>
              .error-message Заполните поле
            .dropzone-wrap
              #dropzone.dropzone(action='/file-upload')
                .fallback
                  input(name='file' type='file' multiple='').drop-file
                .dz-message(data-dz-message='') Прикрепить файл
         


          .text-requred * поля для обязательного заполнения
          img(src='./img/captcha.png' alt='', title='').captcha
             
        .button-wrap.d-flex.justify-content-center
          +button({
            text: 'Отправить',
            mod: 'button-transparent button-transparent_black button-arrow mt-3'
          })
