nav.pagination__wrap
  ul.pagination
    li.pagination__btn.active
      a(href = "#" title = "Go to the first pagination.")
        <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 14L1 7.5L7 1" stroke="#262626" stroke-linecap="round" />
          </svg>
    li.pagination__numbers.active  
      a 1
    li.pagination__numbers
      a 2
    li.pagination__numbers 
      a 3
    li.pagination__btn
      a(href = "#" title = "Go to the last pagination.")
        <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7 7.5L0.999999 14" stroke="#262626" stroke-linecap="round" />
          </svg>
